ProjectManagerIS.Win/bin/Debug/net5.0-windows/fr/json resources/dx-rich.fr.json
{
  "OfficeStringId.Caption_EditHyperlinkForm": "Modifier le lien hypertexte",
  "OfficeStringId.Caption_EditHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_InsertHyperlinkForm": "Insérer le lien hypertexte",
  "OfficeStringId.Caption_InsertHyperlinkFormDescription": " ",
  "OfficeStringId.Caption_UnitCentimeters": "Centimètres",
  "OfficeStringId.Caption_UnitInches": "Pouces",
  "OfficeStringId.Caption_UnitMillimeters": "Millimètres",
  "OfficeStringId.Caption_UnitPercent": "Pourcentage",
  "OfficeStringId.Caption_UnitPoints": "Points",
  "OfficeStringId.FileFilterDescription_AllFiles": "Tous les fichiers",
  "OfficeStringId.FileFilterDescription_AllSupportedFiles": "Tous les documents",
  "OfficeStringId.FileFilterDescription_BitmapFiles": "Windows Bitmap",
  "OfficeStringId.FileFilterDescription_EmfFiles": "Microsoft Enhanced Metafile",
  "OfficeStringId.FileFilterDescription_GifFiles": "Graphics Interchange Format",
  "OfficeStringId.FileFilterDescription_JPEGFiles": "JPEG File Interchange Format",
  "OfficeStringId.FileFilterDescription_PNGFiles": "Portable Network Graphics",
  "OfficeStringId.FileFilterDescription_TiffFiles": "Tag Image File Format",
  "OfficeStringId.FileFilterDescription_WmfFiles": "Windows Metafile",
  "OfficeStringId.MenuCmd_AlignmentCenter": "Centre",
  "OfficeStringId.MenuCmd_AlignmentCenterDescription": "Texte centré.",
  "OfficeStringId.MenuCmd_AlignmentJustify": "Justifier",
  "OfficeStringId.MenuCmd_AlignmentJustifyDescription": "Align text to both left and right margins, adding extra space between words as necessary.\n\nThis creates a clean look along the left and right side of the page.",
  "OfficeStringId.MenuCmd_AlignmentLeft": "Aligner le texte à gauche",
  "OfficeStringId.MenuCmd_AlignmentLeftDescription": "Align text to the left.",
  "OfficeStringId.MenuCmd_AlignmentRight": "Aligner le texte à droite",
  "OfficeStringId.MenuCmd_AlignmentRightDescription": "Aligner le texte à droite.",
  "OfficeStringId.MenuCmd_ChangeFontColor": "Couleur de police",
  "OfficeStringId.MenuCmd_ChangeFontColorDescription": "Changer la couleur du texte.",
  "OfficeStringId.MenuCmd_ChangeFontName": "Polices",
  "OfficeStringId.MenuCmd_ChangeFontNameDescription": "Changer la face de la police.",
  "OfficeStringId.MenuCmd_ChangeFontSize": "Taille de police",
  "OfficeStringId.MenuCmd_ChangeFontSizeDescription": "Changer la taille de la police.",
  "OfficeStringId.MenuCmd_ClearUndo": "ClearUndo",
  "OfficeStringId.MenuCmd_ClearUndoDescription": "Clear Undo Buffer",
  "OfficeStringId.MenuCmd_CopySelection": "Copier",
  "OfficeStringId.MenuCmd_CopySelectionDescription": "Copier la sélection et le mettre dans le presse-papiers.",
  "OfficeStringId.MenuCmd_CutSelection": "Couper",
  "OfficeStringId.MenuCmd_CutSelectionDescription": "Couper la sélection du document et le mettre dans le presse-papiers.",
  "OfficeStringId.MenuCmd_DecreaseFontSize": "Rétrécir la police",
  "OfficeStringId.MenuCmd_DecreaseFontSizeDescription": "Réduit la taille de la police.",
  "OfficeStringId.MenuCmd_DeleteComment": "Supprimer",
  "OfficeStringId.MenuCmd_DeleteCommentDescription": "Supprimer le commentaire sélectionné.",
  "OfficeStringId.MenuCmd_EditComment": "Edit Comment",
  "OfficeStringId.MenuCmd_EditCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_EditHyperlink": "Modifier le lien hypertexte...",
  "OfficeStringId.MenuCmd_EditHyperlinkDescription": "Modifier le lien hypertexte...",
  "OfficeStringId.MenuCmd_Encrypt": "Chiffrer avec mot de passe",
  "OfficeStringId.MenuCmd_EncryptDescription": "Nécessite un mot de passe pour ouvrir ce classeur.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForward": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroup": "Bring Forward",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardCommandGroupDescription": "Bring the selected object forward one level, or bring it in front of all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectBringForwardDescription": "Bring the selected object forward so that it is hidden by fewer objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFront": "Mettre en premier plan",
  "OfficeStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Bring the selected object in front of all other objects so that no part of it is hidden behind other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackward": "Envoyer vers l'arrière",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroup": "Envoyer vers l'arrière",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardCommandGroupDescription": "Send the selected object back one level, or send it behind all the other objects.",
  "OfficeStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Send the selected object backward so that it is hidden by the objects that are in front of it.",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBack": "Mettre en arrière-plan",
  "OfficeStringId.MenuCmd_FloatingObjectSendToBackDescription": "Send the selected object behind all other objects.",
  "OfficeStringId.MenuCmd_Hyperlink": "Lien hypertexte",
  "OfficeStringId.MenuCmd_HyperlinkDescription": "Créer un lien vers une page Web, une image, une adresse de messagerie ou un programme.",
  "OfficeStringId.MenuCmd_IncreaseFontSize": "Grow Font",
  "OfficeStringId.MenuCmd_IncreaseFontSizeDescription": "Augmenter la taille de la police.",
  "OfficeStringId.MenuCmd_InsertComment": "New Comment",
  "OfficeStringId.MenuCmd_InsertCommentDescription": "Add a note about this part of the document.",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPicture": "Photo",
  "OfficeStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Insérer une image à partir d'un fichier.",
  "OfficeStringId.MenuCmd_InsertHyperlink": "Lien hypertexte...",
  "OfficeStringId.MenuCmd_InsertHyperlinkDescription": "Ajouter un nouveau lien hypertexte.",
  "OfficeStringId.MenuCmd_InsertSymbol": "Symbole",
  "OfficeStringId.MenuCmd_InsertSymbolDescription": "Insérer des symboles qui ne sont pas sur votre clavier, tels que les symboles de copyright, symboles de la marque, les marques de paragraphe et caractères Unicode.",
  "OfficeStringId.MenuCmd_LoadDocument": "Ouvert",
  "OfficeStringId.MenuCmd_LoadDocumentDescription": "Ouvrir un document.",
  "OfficeStringId.MenuCmd_NewEmptyDocument": "Nouveau",
  "OfficeStringId.MenuCmd_NewEmptyDocumentDescription": "Créer un nouveau document.",
  "OfficeStringId.MenuCmd_OpenHyperlink": "Ouvrir lien hypertexte",
  "OfficeStringId.MenuCmd_OpenHyperlinkDescription": "Ouvrir lien hypertexte",
  "OfficeStringId.MenuCmd_PageMarginsModerate": "Modérée\nHaut: {1,10} bas : {3,10} \nGauche: {0,10} droite : {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsModerateDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNarrow": "Narrow\nTop:\t{1,10}\tBottom:\t{3,10}\nLeft:\t{0,10}\tRight:\t\t{2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNarrowDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsNormal": "Normale\nHaut: {1,10} bas : {3,10}\nGauche: {0,10} droite : {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsNormalDescription": " ",
  "OfficeStringId.MenuCmd_PageMarginsWide": "large\nHaut: {1,10} bas : {3,10}\nGauche: {0,10} droite : {2,10}",
  "OfficeStringId.MenuCmd_PageMarginsWideDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroup": "Orientation",
  "OfficeStringId.MenuCmd_PageOrientationCommandGroupDescription": "Switch the pages between portrait and landscape layouts.",
  "OfficeStringId.MenuCmd_PageOrientationLandscape": "Paysage",
  "OfficeStringId.MenuCmd_PageOrientationLandscapeDescription": " ",
  "OfficeStringId.MenuCmd_PageOrientationPortrait": "Portrait",
  "OfficeStringId.MenuCmd_PageOrientationPortraitDescription": " ",
  "OfficeStringId.MenuCmd_Paste": "Coller",
  "OfficeStringId.MenuCmd_PasteDescription": "Collez le contenu du presse-papiers.",
  "OfficeStringId.MenuCmd_Print": "Im&primer",
  "OfficeStringId.MenuCmd_PrintDescription": "Sélectionnez les autres options d'impression avant d'imprimer, une imprimante et nombre de copies.",
  "OfficeStringId.MenuCmd_PrintPreview": "&Aperçu avant impression",
  "OfficeStringId.MenuCmd_PrintPreviewDescription": "Pages d'aperçu avant impression.",
  "OfficeStringId.MenuCmd_QuickPrint": "&Quick Print",
  "OfficeStringId.MenuCmd_QuickPrintDescription": "Envoyer le document directement à l'imprimante par défaut sans apporter de modifications.",
  "OfficeStringId.MenuCmd_Redo": "Rétablir",
  "OfficeStringId.MenuCmd_RedoDescription": "Rétablir",
  "OfficeStringId.MenuCmd_RemoveHyperlink": "Supprimer le lien hypertexte",
  "OfficeStringId.MenuCmd_RemoveHyperlinkDescription": "Supprimer le lien hypertexte",
  "OfficeStringId.MenuCmd_RemoveHyperlinks": "Supprimer des hyperliens",
  "OfficeStringId.MenuCmd_RemoveHyperlinksDescription": "Supprimer des hyperliens",
  "OfficeStringId.MenuCmd_SaveDocument": "Enregistrer",
  "OfficeStringId.MenuCmd_SaveDocumentAs": "Enregistrer sous",
  "OfficeStringId.MenuCmd_SaveDocumentAsDescription": "Open the Save As dialog box to select a file format and save the document to a new location.",
  "OfficeStringId.MenuCmd_SaveDocumentDescription": "Save the document.",
  "OfficeStringId.MenuCmd_ShowPasteSpecialForm": "Collage spécial",
  "OfficeStringId.MenuCmd_ShowPasteSpecialFormDescription": "Show the Paste Special dialog box.",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuHeader": "Customize Status Bar",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoom": "Zoom",
  "OfficeStringId.MenuCmd_StatusBarPopupMenuZoomSlider": "Zoom Slider",
  "OfficeStringId.MenuCmd_StatusBarZoomDescription": "Zoom level. Click to open the Zoom dialog box.",
  "OfficeStringId.MenuCmd_StatusBarZoomSliderDescription": "Zoom",
  "OfficeStringId.MenuCmd_ToggleFontBold": "Gras",
  "OfficeStringId.MenuCmd_ToggleFontBoldDescription": "Mettre le texte sélectionné en gras.",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderline": "Double souligné",
  "OfficeStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Double souligné",
  "OfficeStringId.MenuCmd_ToggleFontItalic": "Italique",
  "OfficeStringId.MenuCmd_ToggleFontItalicDescription": "Italicize the selected text.",
  "OfficeStringId.MenuCmd_ToggleFontStrikeout": "Barré",
  "OfficeStringId.MenuCmd_ToggleFontStrikeoutDescription": "Tracer une ligne au milieu du texte sélectionné.",
  "OfficeStringId.MenuCmd_ToggleFontUnderline": "Souligné",
  "OfficeStringId.MenuCmd_ToggleFontUnderlineDescription": "Souligner le texte sélectionné.",
  "OfficeStringId.MenuCmd_Undo": "Annuler",
  "OfficeStringId.MenuCmd_UndoDescription": "Annuler",
  "OfficeStringId.MenuCmd_Zoom100Percent": "100 %",
  "OfficeStringId.MenuCmd_Zoom100PercentDescription": "Zoom the document to 100% of the normal size.",
  "OfficeStringId.MenuCmd_ZoomIn": "Zoom avant",
  "OfficeStringId.MenuCmd_ZoomInDescription": "Zoom avant",
  "OfficeStringId.MenuCmd_ZoomOut": "Zoom arrière",
  "OfficeStringId.MenuCmd_ZoomOutDescription": "Zoom arrière",
  "OfficeStringId.Msg_InternalError": "Erreur interne!",
  "OfficeStringId.Msg_InvalidBeginInit": "Erreur : Appelle de BeginInit dans BeginUpdate",
  "OfficeStringId.Msg_InvalidBeginUpdate": "Erreur : Appelle de BeginInit dans BeginUpdate",
  "OfficeStringId.Msg_InvalidCopyFromDocumentModel": "Erreur : La source et la destination du modèle sont  différents",
  "OfficeStringId.Msg_InvalidEndInit": "Erreur : Appelle de EndInit ou CancelInit sans BeginInit ou à l'intérieur de BeginUpdate",
  "OfficeStringId.Msg_InvalidEndUpdate": "Erreur : Appelle de EndInit ou CancelInit sans BeginInit ou à l'intérieur de BeginUpdate",
  "OfficeStringId.Msg_InvalidFontSize": "The number must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidNumber": "This is not a valid number.",
  "OfficeStringId.Msg_InvalidNumberConverterValue": "Value must be between {0} and {1}.",
  "OfficeStringId.Msg_InvalidRemoveDataSource": "Une source de données ne peut pas être supprimée pendant le processus de fusion et publipostage.",
  "OfficeStringId.Msg_IsNotValid": "'{0}' n'est pas une valeur valide pour '{1}'",
  "OfficeStringId.Msg_Loading": "Chargement en cours...",
  "OfficeStringId.Msg_MagicNumberNotFound": "The file you are trying to open is in different format than specified by the file extension.",
  "OfficeStringId.Msg_UnsupportedFormatOrCorruptedFile": "Format non supporté ou fichier corrompu.",
  "OfficeStringId.UnitAbbreviation_Centimeter": " cm",
  "OfficeStringId.UnitAbbreviation_Inch": "\"",
  "OfficeStringId.UnitAbbreviation_Millimeter": " mm",
  "OfficeStringId.UnitAbbreviation_Percent": "%",
  "OfficeStringId.UnitAbbreviation_Pica": " pc",
  "OfficeStringId.UnitAbbreviation_Point": " pt",
  "XtraRichEditStringId.BorderLineStyleNone": "aucun",
  "XtraRichEditStringId.Caption_AlignmentCenter": "Centré",
  "XtraRichEditStringId.Caption_AlignmentDistribute": "Distributed",
  "XtraRichEditStringId.Caption_AlignmentJustify": "Justifié",
  "XtraRichEditStringId.Caption_AlignmentJustifyHigh": "Justifier la haute",
  "XtraRichEditStringId.Caption_AlignmentJustifyLow": "Justifier faible",
  "XtraRichEditStringId.Caption_AlignmentJustifyMedium": "Justifier moyen",
  "XtraRichEditStringId.Caption_AlignmentLeft": "Gauche",
  "XtraRichEditStringId.Caption_AlignmentRight": "Droit",
  "XtraRichEditStringId.Caption_AlignmentThaiDistribute": "Thaï distribué",
  "XtraRichEditStringId.Caption_AllMarkup": "All Markup",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_Nothing": "Rien",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_SpaceCharacter": "Espace",
  "XtraRichEditStringId.Caption_BulletsAndNumbering_TabCharacter": "Caractère de tabulation",
  "XtraRichEditStringId.Caption_Bytes": "octets",
  "XtraRichEditStringId.Caption_CaptionPrefixEquation": "Équation",
  "XtraRichEditStringId.Caption_CaptionPrefixFigure": "Figure",
  "XtraRichEditStringId.Caption_CaptionPrefixTable": "Tableau",
  "XtraRichEditStringId.Caption_CharacterPositionLowered": "Lowered",
  "XtraRichEditStringId.Caption_CharacterPositionNormal": "Normal",
  "XtraRichEditStringId.Caption_CharacterPositionRaised": "Raised",
  "XtraRichEditStringId.Caption_CharacterSpacingCondensed": "Condensed",
  "XtraRichEditStringId.Caption_CharacterSpacingExpanded": "Expanded",
  "XtraRichEditStringId.Caption_CharacterSpacingNormal": "Normal",
  "XtraRichEditStringId.Caption_ClipboardSubItem": "Presse-papier",
  "XtraRichEditStringId.Caption_ColorAutomatic": "Automatique",
  "XtraRichEditStringId.Caption_ColumnBreak": "Column Break",
  "XtraRichEditStringId.Caption_Comments": "Commentaires",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomLeftCell": "Bottom left cell",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_BottomRightCell": "Cellule inférieure droite",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenColumnBanding": "Even banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_EvenRowBanding": "Even banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstColumn": "Première colonne",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_FirstRow": "Ligne d'en-tête",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastColumn": "Dernière colonne",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_LastRow": "Ligne total",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddColumnBanding": "Odd banded columns",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_OddRowBanding": "Odd banded rows",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopLeftCell": "Cellule supérieure gauche",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_TopRightCell": "Cellule de droite supérieure",
  "XtraRichEditStringId.Caption_ConditionalTableStyleFormattingTypes_WholeTable": "Toute la table",
  "XtraRichEditStringId.Caption_CurrentDocumentHyperlinkTooltip": "Document actif",
  "XtraRichEditStringId.Caption_CurrentParagraphText": "Texte d'exemple",
  "XtraRichEditStringId.Caption_CustomPropertyCheckedBy": "Vérifié par",
  "XtraRichEditStringId.Caption_CustomPropertyClient": "Client",
  "XtraRichEditStringId.Caption_CustomPropertyDateCompleted": "Date terminé",
  "XtraRichEditStringId.Caption_CustomPropertyDepartment": "Département",
  "XtraRichEditStringId.Caption_CustomPropertyDestination": "Destination",
  "XtraRichEditStringId.Caption_CustomPropertyDisposition": "Disposition",
  "XtraRichEditStringId.Caption_CustomPropertyDivision": "Division",
  "XtraRichEditStringId.Caption_CustomPropertyDocumentNumber": "Numéro de document",
  "XtraRichEditStringId.Caption_CustomPropertyEditor": "Rédacteur en chef",
  "XtraRichEditStringId.Caption_CustomPropertyForwardTo": "En avant vers",
  "XtraRichEditStringId.Caption_CustomPropertyGroup": "Groupe",
  "XtraRichEditStringId.Caption_CustomPropertyLanguage": "Langue",
  "XtraRichEditStringId.Caption_CustomPropertyMailstop": "Mailstop",
  "XtraRichEditStringId.Caption_CustomPropertyMatter": "Question",
  "XtraRichEditStringId.Caption_CustomPropertyNo": "Non",
  "XtraRichEditStringId.Caption_CustomPropertyOffice": "Bureau",
  "XtraRichEditStringId.Caption_CustomPropertyOwner": "Propriétaire",
  "XtraRichEditStringId.Caption_CustomPropertyProject": "Projet",
  "XtraRichEditStringId.Caption_CustomPropertyPublisher": "Editeur",
  "XtraRichEditStringId.Caption_CustomPropertyPurpose": "But",
  "XtraRichEditStringId.Caption_CustomPropertyReceivedFrom": "Reçu de",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedBy": "Enregistré par",
  "XtraRichEditStringId.Caption_CustomPropertyRecordedDate": "Date de l'accusé",
  "XtraRichEditStringId.Caption_CustomPropertyReference": "Référence",
  "XtraRichEditStringId.Caption_CustomPropertySource": "Source",
  "XtraRichEditStringId.Caption_CustomPropertyStatus": "Statut",
  "XtraRichEditStringId.Caption_CustomPropertyTelephoneNumber": "Numéro de téléphone",
  "XtraRichEditStringId.Caption_CustomPropertyTypeBoolean": "Yes or no",
  "XtraRichEditStringId.Caption_CustomPropertyTypeDateTime": "Date",
  "XtraRichEditStringId.Caption_CustomPropertyTypeNumber": "Nombre",
  "XtraRichEditStringId.Caption_CustomPropertyTypeText": "Texte",
  "XtraRichEditStringId.Caption_CustomPropertyTypist": "Dactylo",
  "XtraRichEditStringId.Caption_CustomPropertyValue": "Valeur",
  "XtraRichEditStringId.Caption_CustomPropertyYes": "Oui",
  "XtraRichEditStringId.Caption_EmptyParentStyle": "(Propriétés sous-jacentes)",
  "XtraRichEditStringId.Caption_EvenPageFooter": "Pied de page paire",
  "XtraRichEditStringId.Caption_EvenPageHeader": "En-tête de page paire",
  "XtraRichEditStringId.Caption_FillInForms": "Filling in Forms",
  "XtraRichEditStringId.Caption_FirstLineIndentHanging": "Négatif",
  "XtraRichEditStringId.Caption_FirstLineIndentIndented": "Positif",
  "XtraRichEditStringId.Caption_FirstLineIndentNone": "(aucun)",
  "XtraRichEditStringId.Caption_FirstPageFooter": "Premier pied de page",
  "XtraRichEditStringId.Caption_FirstPageHeader": "Premier en-tête de page",
  "XtraRichEditStringId.Caption_FollowingParagraphText": "Paragraphe suivant",
  "XtraRichEditStringId.Caption_GroupDocumentChanges": "Changements",
  "XtraRichEditStringId.Caption_GroupNotes": "Footnotes",
  "XtraRichEditStringId.Caption_GroupTableAlignment": "Alignement",
  "XtraRichEditStringId.Caption_GroupTableCellSize": "Taille des cellules",
  "XtraRichEditStringId.Caption_GroupTableDrawBorders": "Bordures et ombres",
  "XtraRichEditStringId.Caption_GroupTableMerge": "Fusionner",
  "XtraRichEditStringId.Caption_GroupTableRowsAndColumns": "Lignes et colonnes",
  "XtraRichEditStringId.Caption_GroupTableStyleOptions": "Options de Style de tableau",
  "XtraRichEditStringId.Caption_GroupTableStyles": "Styles de tableau",
  "XtraRichEditStringId.Caption_GroupTableTable": "Tableau",
  "XtraRichEditStringId.Caption_Heading": "Heading",
  "XtraRichEditStringId.Caption_HeightTypeExact": "Exactement",
  "XtraRichEditStringId.Caption_HeightTypeMinimum": "Au moins",
  "XtraRichEditStringId.Caption_LineSpacingAtLeast": "Au moins",
  "XtraRichEditStringId.Caption_LineSpacingDouble": "Double",
  "XtraRichEditStringId.Caption_LineSpacingExactly": "Exactement",
  "XtraRichEditStringId.Caption_LineSpacingMultiple": "Multiple",
  "XtraRichEditStringId.Caption_LineSpacingSesquialteral": "1.5 ligne",
  "XtraRichEditStringId.Caption_LineSpacingSingle": "Simple",
  "XtraRichEditStringId.Caption_MainDocumentComments": "Commentaires de document principal",
  "XtraRichEditStringId.Caption_NoColor": "Pas de couleur",
  "XtraRichEditStringId.Caption_NoMarkup": "No Markup",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountFourColumn": "4 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountMatchSectionLayout": "Match section layout",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountOneColumn": "1 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountThreeColumn": "3 column",
  "XtraRichEditStringId.Caption_NoteFootNoteColumnCountTwoColumn": "2 column",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeContinuous": "Continu",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewPage": "Restart each page",
  "XtraRichEditStringId.Caption_NoteNumberingRestartTypeNewSection": "Restart each section",
  "XtraRichEditStringId.Caption_NotePositionBelowText": "Below text",
  "XtraRichEditStringId.Caption_NotePositionBottomOfPage": "Bottom of page",
  "XtraRichEditStringId.Caption_NotePositionEndOfDocument": "End of document",
  "XtraRichEditStringId.Caption_NotePositionEndOfSection": "End of section",
  "XtraRichEditStringId.Caption_NumberingListBoxNone": "Aucune",
  "XtraRichEditStringId.Caption_OddPageFooter": "Pied de page impaire",
  "XtraRichEditStringId.Caption_OddPageHeader": "En-tête de page impaire",
  "XtraRichEditStringId.Caption_OriginalMarkup": "Original",
  "XtraRichEditStringId.Caption_OutlineLevel1": "Niveau 1",
  "XtraRichEditStringId.Caption_OutlineLevel2": "Niveau 2",
  "XtraRichEditStringId.Caption_OutlineLevel3": "Niveau 3",
  "XtraRichEditStringId.Caption_OutlineLevel4": "Niveau 4",
  "XtraRichEditStringId.Caption_OutlineLevel5": "Niveau 5",
  "XtraRichEditStringId.Caption_OutlineLevel6": "Niveau 6",
  "XtraRichEditStringId.Caption_OutlineLevel7": "Niveau 7",
  "XtraRichEditStringId.Caption_OutlineLevel8": "Niveau 8",
  "XtraRichEditStringId.Caption_OutlineLevel9": "Niveau 9",
  "XtraRichEditStringId.Caption_OutlineLevelBody": "Corps de texte",
  "XtraRichEditStringId.Caption_PageBreak": "Saut de page",
  "XtraRichEditStringId.Caption_PageCategoryTableTools": "Outils de tableau",
  "XtraRichEditStringId.Caption_PageFooter": "Pied",
  "XtraRichEditStringId.Caption_PageHeader": "Entête",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionLeftToRight": "Left-to-right",
  "XtraRichEditStringId.Caption_PageSetupSectionDirectionRightToLeft": "Right-to-left",
  "XtraRichEditStringId.Caption_PageSetupSectionStartColumn": "Nouvelle colonne",
  "XtraRichEditStringId.Caption_PageSetupSectionStartContinuous": "Continu",
  "XtraRichEditStringId.Caption_PageSetupSectionStartEvenPage": "Page paire",
  "XtraRichEditStringId.Caption_PageSetupSectionStartNextPage": "Nouvelle page",
  "XtraRichEditStringId.Caption_PageSetupSectionStartOddPage": "Page impaire",
  "XtraRichEditStringId.Caption_PageTableDesign": "Création",
  "XtraRichEditStringId.Caption_PageTableLayout": "Mise en page",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Center": "Centre",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Distribute": "Distributed",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Justify": "Justifié",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyHigh": "Justifier la haute",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyLow": "Justifier faible",
  "XtraRichEditStringId.Caption_ParagraphAlignment_JustifyMedium": "Justifier moyen",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Left": "Gauche",
  "XtraRichEditStringId.Caption_ParagraphAlignment_Right": "Droite",
  "XtraRichEditStringId.Caption_ParagraphAlignment_ThaiDistribute": "Thaï distribué",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Hanging": "Suspendu",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_Indented": "Une par ligne",
  "XtraRichEditStringId.Caption_ParagraphFirstLineIndent_None": "Aucun",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_AtLeast": "Au moins",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Double": "Double",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Exactly": "Exactement",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Multiple": "Multiple",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Sesquialteral": "1,5 ligne",
  "XtraRichEditStringId.Caption_ParagraphLineSpacing_Single": "Simple",
  "XtraRichEditStringId.Caption_PreviousParagraphText": "Paragraphe précédent",
  "XtraRichEditStringId.Caption_Readonly": "Aucune modification (lecture seule)",
  "XtraRichEditStringId.Caption_SameAsPrevious": "Identique au précédent",
  "XtraRichEditStringId.Caption_SectionBreak": "Section Break",
  "XtraRichEditStringId.Caption_SectionBreakTypeColumn": "Colonne",
  "XtraRichEditStringId.Caption_SectionBreakTypeContinuous": "Continu",
  "XtraRichEditStringId.Caption_SectionBreakTypeEvenPage": "Even Page",
  "XtraRichEditStringId.Caption_SectionBreakTypeNextPage": "Page suivante",
  "XtraRichEditStringId.Caption_SectionBreakTypeOddPage": "Odd Page",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyThisPointForward": "À partir de ce point",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToCurrentSection": "Section active",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToSelectedSections": "Aux sections sélectionnées",
  "XtraRichEditStringId.Caption_SectionPropertiesApplyToWholeDocument": "À tout le document",
  "XtraRichEditStringId.Caption_SimpleMarkup": "Simple Markup",
  "XtraRichEditStringId.Caption_TrackedChanges": "Tracked Changes",
  "XtraRichEditStringId.ClearFormatting": "Effacer tout",
  "XtraRichEditStringId.ColorAuto": "Auto",
  "XtraRichEditStringId.ColumnsSetupForm_InvalidColumnCount": "Le nombre doit être compris entre {0} et {1}.",
  "XtraRichEditStringId.Comment": "Comment [{0} {1}]",
  "XtraRichEditStringId.CommentToolTipHeader": "par {0}",
  "XtraRichEditStringId.CommentToolTipHeaderWithDate": "{0} de {1}",
  "XtraRichEditStringId.DefaultDocumentName": "Document",
  "XtraRichEditStringId.DefaultStyleName_annotationreference": "Référence du commentaire",
  "XtraRichEditStringId.DefaultStyleName_annotationsubject": "Objet du commentaire",
  "XtraRichEditStringId.DefaultStyleName_annotationtext": "Texte du commentaire",
  "XtraRichEditStringId.DefaultStyleName_ArticleSection": "Article / article",
  "XtraRichEditStringId.DefaultStyleName_BalloonText": "Texte de bulles",
  "XtraRichEditStringId.DefaultStyleName_BlockText": "Texte bloqué",
  "XtraRichEditStringId.DefaultStyleName_BodyText": "Corps de texte",
  "XtraRichEditStringId.DefaultStyleName_BodyText2": "Corps de texte 2",
  "XtraRichEditStringId.DefaultStyleName_BodyText3": "Corps de texte 3",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent": "Retrait corps et 1er ligne",
  "XtraRichEditStringId.DefaultStyleName_BodyTextFirstIndent2": "Retrait corps et 1er ligne 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent": "Retrait de texte de corps",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent2": "Retrait corps de texte 2",
  "XtraRichEditStringId.DefaultStyleName_BodyTextIndent3": "Retrait corps de texte 3",
  "XtraRichEditStringId.DefaultStyleName_BookTitle": "Book Title",
  "XtraRichEditStringId.DefaultStyleName_caption": "Titre",
  "XtraRichEditStringId.DefaultStyleName_Closing": "Fermeture",
  "XtraRichEditStringId.DefaultStyleName_CommentReference": "Commentaire de référence",
  "XtraRichEditStringId.DefaultStyleName_CommentSubject": "Sujet de commentaire",
  "XtraRichEditStringId.DefaultStyleName_CommentText": "Commentaire de texte",
  "XtraRichEditStringId.DefaultStyleName_Date": "Date",
  "XtraRichEditStringId.DefaultStyleName_DefaultParagraphFont": "Police par défaut",
  "XtraRichEditStringId.DefaultStyleName_DocumentMap": "Explorateur de document",
  "XtraRichEditStringId.DefaultStyleName_EmailSignature": "Signature électronique",
  "XtraRichEditStringId.DefaultStyleName_Emphasis": "Accent",
  "XtraRichEditStringId.DefaultStyleName_endnotereference": "Référence note de fin",
  "XtraRichEditStringId.DefaultStyleName_endnotetext": "Note de fin",
  "XtraRichEditStringId.DefaultStyleName_envelopeaddress": "Adresse expéditeur",
  "XtraRichEditStringId.DefaultStyleName_envelopereturn": "Adresse destinataire",
  "XtraRichEditStringId.DefaultStyleName_FollowedHyperlink": "FollowedHyperlink",
  "XtraRichEditStringId.DefaultStyleName_footer": "Pied de page",
  "XtraRichEditStringId.DefaultStyleName_footnotereference": "Référence note de bas de page",
  "XtraRichEditStringId.DefaultStyleName_footnotetext": "Note de bas de page",
  "XtraRichEditStringId.DefaultStyleName_header": "Titre",
  "XtraRichEditStringId.DefaultStyleName_heading1": "Titre 1",
  "XtraRichEditStringId.DefaultStyleName_heading2": "Titre 2",
  "XtraRichEditStringId.DefaultStyleName_heading3": "Titre 3",
  "XtraRichEditStringId.DefaultStyleName_heading4": "Titre 4",
  "XtraRichEditStringId.DefaultStyleName_heading5": "Titre 5",
  "XtraRichEditStringId.DefaultStyleName_heading6": "Titre 6",
  "XtraRichEditStringId.DefaultStyleName_heading7": "Titre 7",
  "XtraRichEditStringId.DefaultStyleName_heading8": "Titre 8",
  "XtraRichEditStringId.DefaultStyleName_heading9": "Titre 9",
  "XtraRichEditStringId.DefaultStyleName_HTMLAcronym": "Acronyme HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLAddress": "Adresse HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLBottomofForm": "Bas de page HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLCite": "Citation HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLCode": "Code HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLDefinition": "Définition HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLKeyboard": "Clavier HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLPreformatted": "Définition HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLSample": "Exemple HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLTopofForm": "Haut de page HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLTypewriter": "Machine à écrire HTML",
  "XtraRichEditStringId.DefaultStyleName_HTMLVariable": "Variable HTML",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkFollowed": "Lien hypertexte suivi",
  "XtraRichEditStringId.DefaultStyleName_HyperlinkStrongEmphasis": "Lien hypertexte mis en avant",
  "XtraRichEditStringId.DefaultStyleName_index1": "Index 1",
  "XtraRichEditStringId.DefaultStyleName_index2": "Index 2",
  "XtraRichEditStringId.DefaultStyleName_index3": "Index 3",
  "XtraRichEditStringId.DefaultStyleName_index4": "Index 4",
  "XtraRichEditStringId.DefaultStyleName_index5": "Index 5",
  "XtraRichEditStringId.DefaultStyleName_index6": "Index6",
  "XtraRichEditStringId.DefaultStyleName_index7": "Index 7",
  "XtraRichEditStringId.DefaultStyleName_index8": "Index 8",
  "XtraRichEditStringId.DefaultStyleName_index9": "Index 9",
  "XtraRichEditStringId.DefaultStyleName_indexheading": "Titre index",
  "XtraRichEditStringId.DefaultStyleName_IntenseEmphasis": "Intense Emphasis",
  "XtraRichEditStringId.DefaultStyleName_IntenseQuote": "Intense Quote",
  "XtraRichEditStringId.DefaultStyleName_linenumber": "Numéro de ligne",
  "XtraRichEditStringId.DefaultStyleName_List": "Liste",
  "XtraRichEditStringId.DefaultStyleName_List2": "Liste 2",
  "XtraRichEditStringId.DefaultStyleName_List3": "Liste 3",
  "XtraRichEditStringId.DefaultStyleName_List4": "Liste 4",
  "XtraRichEditStringId.DefaultStyleName_List5": "Liste 5",
  "XtraRichEditStringId.DefaultStyleName_ListBullet": "Liste à puces",
  "XtraRichEditStringId.DefaultStyleName_ListBullet2": "Liste à puces 2",
  "XtraRichEditStringId.DefaultStyleName_ListBullet3": "Liste à puces 3",
  "XtraRichEditStringId.DefaultStyleName_ListBullet4": "Liste à puces 4",
  "XtraRichEditStringId.DefaultStyleName_ListBullet5": "Liste à puces 5",
  "XtraRichEditStringId.DefaultStyleName_ListContinue": "Liste continue",
  "XtraRichEditStringId.DefaultStyleName_ListContinue2": "Liste continue2",
  "XtraRichEditStringId.DefaultStyleName_ListContinue3": "Liste continue 3",
  "XtraRichEditStringId.DefaultStyleName_ListContinue4": "Liste continue 4",
  "XtraRichEditStringId.DefaultStyleName_ListContinue5": "Liste continue 5",
  "XtraRichEditStringId.DefaultStyleName_ListNumber": "Liste à numéros",
  "XtraRichEditStringId.DefaultStyleName_ListNumber2": "Liste à numéros 2",
  "XtraRichEditStringId.DefaultStyleName_ListNumber3": "Liste à numéros 3",
  "XtraRichEditStringId.DefaultStyleName_ListNumber4": "Liste à numéros 4",
  "XtraRichEditStringId.DefaultStyleName_ListNumber5": "Liste à numéros 5",
  "XtraRichEditStringId.DefaultStyleName_ListParagraph": "List Paragraph",
  "XtraRichEditStringId.DefaultStyleName_MacroText": "Texte de macro",
  "XtraRichEditStringId.DefaultStyleName_macrotoaheading": "Texte de macro",
  "XtraRichEditStringId.DefaultStyleName_MessageHeader": "En-tête message",
  "XtraRichEditStringId.DefaultStyleName_NoList": "Aucune liste",
  "XtraRichEditStringId.DefaultStyleName_Normal": "Normal",
  "XtraRichEditStringId.DefaultStyleName_NormalIndent": "Retrait normal",
  "XtraRichEditStringId.DefaultStyleName_NormalTable": "Normal Table",
  "XtraRichEditStringId.DefaultStyleName_NormalWeb": "Normal (Web)",
  "XtraRichEditStringId.DefaultStyleName_NoSpacing": "No Spacing",
  "XtraRichEditStringId.DefaultStyleName_NoteHeading": "En-tête note",
  "XtraRichEditStringId.DefaultStyleName_OutlineList1": "Liste décalé 1",
  "XtraRichEditStringId.DefaultStyleName_OutlineList2": "Liste décalé 2",
  "XtraRichEditStringId.DefaultStyleName_OutlineList3": "Liste décalé 3",
  "XtraRichEditStringId.DefaultStyleName_pagenumber": "Numéro de page",
  "XtraRichEditStringId.DefaultStyleName_PlainText": "Texte brut",
  "XtraRichEditStringId.DefaultStyleName_Quote": "Quote",
  "XtraRichEditStringId.DefaultStyleName_Salutation": "Salutations",
  "XtraRichEditStringId.DefaultStyleName_Signature": "Signature",
  "XtraRichEditStringId.DefaultStyleName_Strong": "Strong",
  "XtraRichEditStringId.DefaultStyleName_Subtitle": "Sous-titre",
  "XtraRichEditStringId.DefaultStyleName_SubtleEmphasis": "Subtle Emphasis",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects1": "Effets 3D 1",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects2": "Effets 3D 2",
  "XtraRichEditStringId.DefaultStyleName_Table3Deffects3": "Effets 3D 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic1": "Classique 1",
  "XtraRichEditStringId.DefaultStyleName_TableClassic2": "Classique 2",
  "XtraRichEditStringId.DefaultStyleName_TableClassic3": "Classique 3",
  "XtraRichEditStringId.DefaultStyleName_TableClassic4": "Classique 4",
  "XtraRichEditStringId.DefaultStyleName_TableColorful1": "Coloré 1",
  "XtraRichEditStringId.DefaultStyleName_TableColorful2": "Coloré 2",
  "XtraRichEditStringId.DefaultStyleName_TableColorful3": "Coloré 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns1": "Colonnes 1",
  "XtraRichEditStringId.DefaultStyleName_TableColumns2": "Colonnes 2",
  "XtraRichEditStringId.DefaultStyleName_TableColumns3": "Colonnes 3",
  "XtraRichEditStringId.DefaultStyleName_TableColumns4": "Colonnes 4",
  "XtraRichEditStringId.DefaultStyleName_TableColumns5": "Colonnes 5",
  "XtraRichEditStringId.DefaultStyleName_TableContemporary": "Contemporain",
  "XtraRichEditStringId.DefaultStyleName_TableElegant": "Elégant",
  "XtraRichEditStringId.DefaultStyleName_TableGrid": "Grille",
  "XtraRichEditStringId.DefaultStyleName_TableGrid1": "Grille1",
  "XtraRichEditStringId.DefaultStyleName_TableGrid2": "Grille 2",
  "XtraRichEditStringId.DefaultStyleName_TableGrid3": "Grille 3",
  "XtraRichEditStringId.DefaultStyleName_TableGrid4": "Grille 4",
  "XtraRichEditStringId.DefaultStyleName_TableGrid5": "Grille 5",
  "XtraRichEditStringId.DefaultStyleName_TableGrid6": "Grille 6",
  "XtraRichEditStringId.DefaultStyleName_TableGrid7": "Grille 7",
  "XtraRichEditStringId.DefaultStyleName_TableGrid8": "Grille 8",
  "XtraRichEditStringId.DefaultStyleName_TableList1": "Tableau liste 1",
  "XtraRichEditStringId.DefaultStyleName_TableList2": "Tableau liste 2",
  "XtraRichEditStringId.DefaultStyleName_TableList3": "Tableau liste 3",
  "XtraRichEditStringId.DefaultStyleName_TableList4": "Tableau liste 4",
  "XtraRichEditStringId.DefaultStyleName_TableList5": "Tableau liste 5",
  "XtraRichEditStringId.DefaultStyleName_TableList6": "Tableau liste 6",
  "XtraRichEditStringId.DefaultStyleName_TableList7": "Tableau liste 7",
  "XtraRichEditStringId.DefaultStyleName_TableList8": "Tableau liste 8",
  "XtraRichEditStringId.DefaultStyleName_TableNormal": "Tableau Normal",
  "XtraRichEditStringId.DefaultStyleName_tableofauthorities": "Table des références juridiques",
  "XtraRichEditStringId.DefaultStyleName_tableoffigures": "Table des illustrations",
  "XtraRichEditStringId.DefaultStyleName_TableProfessional": "Professionnel",
  "XtraRichEditStringId.DefaultStyleName_TableSimple1": "Simple 1",
  "XtraRichEditStringId.DefaultStyleName_TableSimple2": "Simple 2",
  "XtraRichEditStringId.DefaultStyleName_TableSimple3": "Simple 3",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle1": "Table sous-titre 1",
  "XtraRichEditStringId.DefaultStyleName_TableSubtle2": "Table sous-titre 2",
  "XtraRichEditStringId.DefaultStyleName_TableTheme": "Thème de la table",
  "XtraRichEditStringId.DefaultStyleName_TableWeb1": "Web 1",
  "XtraRichEditStringId.DefaultStyleName_TableWeb2": "Web 2",
  "XtraRichEditStringId.DefaultStyleName_TableWeb3": "Web 3",
  "XtraRichEditStringId.DefaultStyleName_Title": "Titre TR",
  "XtraRichEditStringId.DefaultStyleName_toaheading": "Position de TOA",
  "XtraRichEditStringId.DefaultStyleName_toc1": "TM 1",
  "XtraRichEditStringId.DefaultStyleName_toc2": "TM 2",
  "XtraRichEditStringId.DefaultStyleName_toc3": "TM 3",
  "XtraRichEditStringId.DefaultStyleName_toc4": "TM 4",
  "XtraRichEditStringId.DefaultStyleName_toc5": "TM 5",
  "XtraRichEditStringId.DefaultStyleName_toc6": "TM 6",
  "XtraRichEditStringId.DefaultStyleName_toc7": "TM 7",
  "XtraRichEditStringId.DefaultStyleName_toc8": "TM 8",
  "XtraRichEditStringId.DefaultStyleName_toc9": "TM 9",
  "XtraRichEditStringId.DialogCaption_InsertSymbol": "Symbole",
  "XtraRichEditStringId.FieldLastName": "Nom",
  "XtraRichEditStringId.FieldMapAddress1": "Adresse 1",
  "XtraRichEditStringId.FieldMapAddress2": "Adresse 2",
  "XtraRichEditStringId.FieldMapAddress3": "Adresse 3",
  "XtraRichEditStringId.FieldMapBusinessFax": "Fax bureau",
  "XtraRichEditStringId.FieldMapBusinessPhone": "Tél bureau",
  "XtraRichEditStringId.FieldMapCity": "Ville",
  "XtraRichEditStringId.FieldMapCompany": "Société",
  "XtraRichEditStringId.FieldMapCountry": "Pays",
  "XtraRichEditStringId.FieldMapDepartment": "Departement",
  "XtraRichEditStringId.FieldMapEMailAddress": "Adresse mail",
  "XtraRichEditStringId.FieldMapFirstName": "Prénom",
  "XtraRichEditStringId.FieldMapHomeFax": "Fax domicile",
  "XtraRichEditStringId.FieldMapHomePhone": "Tél domicile",
  "XtraRichEditStringId.FieldMapJobTitle": "Travail",
  "XtraRichEditStringId.FieldMapMiddleName": "Patronyme",
  "XtraRichEditStringId.FieldMapNickName": "Pseudo",
  "XtraRichEditStringId.FieldMapPartnerFirstName": "Prénom conjoint",
  "XtraRichEditStringId.FieldMapPartnerLastName": "Nom conjoint",
  "XtraRichEditStringId.FieldMapPartnerMiddleName": "Patronyme conjoint",
  "XtraRichEditStringId.FieldMapPartnerNickName": "Pseudo conjoint",
  "XtraRichEditStringId.FieldMapPartnerTitle": "Civilité conjoint",
  "XtraRichEditStringId.FieldMapPhoneticGuideFirstName": "Guide phonétique pour le prénom",
  "XtraRichEditStringId.FieldMapPhoneticGuideLastName": "Guide phonétique pour le nom",
  "XtraRichEditStringId.FieldMapPostalCode": "Code postal",
  "XtraRichEditStringId.FieldMapState": "Pays",
  "XtraRichEditStringId.FieldMapSuffix": "Suffixe",
  "XtraRichEditStringId.FieldMapTitle": "Civilité",
  "XtraRichEditStringId.FieldMapUniqueId": "Identificateur unique",
  "XtraRichEditStringId.FieldMapWebPage": "Page web",
  "XtraRichEditStringId.FileFilterDescription_AllFiles": "Tous les fichiers",
  "XtraRichEditStringId.FileFilterDescription_AllSupportedFiles": "Tous les documents",
  "XtraRichEditStringId.FileFilterDescription_BitmapFiles": "Image",
  "XtraRichEditStringId.FileFilterDescription_DocFiles": "Document Microsoft Word",
  "XtraRichEditStringId.FileFilterDescription_DocmFiles": "Word Macro-Enabled Document",
  "XtraRichEditStringId.FileFilterDescription_DotFiles": "Word 97-2003 Template",
  "XtraRichEditStringId.FileFilterDescription_DotmFiles": "Word Macro-Enabled Template",
  "XtraRichEditStringId.FileFilterDescription_DotxFiles": "Word Template",
  "XtraRichEditStringId.FileFilterDescription_EmfFiles": "Microsoft Enhanced Metafile",
  "XtraRichEditStringId.FileFilterDescription_ePubFiles": "Publication électronique",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcFiles": "Word XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledFiles": "Word Macro-Enabled XML Document",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcMacroEnabledTemplateFiles": "Word Macro-Enabled XML Template",
  "XtraRichEditStringId.FileFilterDescription_FlatOpcTemplateFiles": "Word XML Template",
  "XtraRichEditStringId.FileFilterDescription_GifFiles": "Graphics Interchange Format",
  "XtraRichEditStringId.FileFilterDescription_HtmlFiles": "Tous les fichiers web",
  "XtraRichEditStringId.FileFilterDescription_JPEGFiles": "Fichier d'échange JPEG",
  "XtraRichEditStringId.FileFilterDescription_MhtFiles": "Fichier web seulement",
  "XtraRichEditStringId.FileFilterDescription_OpenDocumentFiles": "OpenDocument Text Document",
  "XtraRichEditStringId.FileFilterDescription_OpenXmlFiles": "Document Word 2007",
  "XtraRichEditStringId.FileFilterDescription_PDFFiles": "Portable Document Format",
  "XtraRichEditStringId.FileFilterDescription_PNGFiles": "Fichier PNG",
  "XtraRichEditStringId.FileFilterDescription_RtfFiles": "Texte mis en forme",
  "XtraRichEditStringId.FileFilterDescription_TextFiles": "Fichier texte",
  "XtraRichEditStringId.FileFilterDescription_TiffFiles": "Tagged Image Format",
  "XtraRichEditStringId.FileFilterDescription_WmfFiles": "Métafichier Windows",
  "XtraRichEditStringId.FileFilterDescription_WordMLFiles": "Document XML Word",
  "XtraRichEditStringId.FileFilterDescription_XamlFiles": "Document Xaml",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterInTheSet": "N'importe quel caractère de l'ensemble",
  "XtraRichEditStringId.FindAndReplaceForm_AnyOneCharacterNotInTheSet": "N'importe quel caractère absent de l'ensemble",
  "XtraRichEditStringId.FindAndReplaceForm_AnySingleCharacter": "N'importe quel caractère individuel",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfLine": "Début de paragraphe",
  "XtraRichEditStringId.FindAndReplaceForm_BeginningOfWord": "Début de mot",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfLine": "Fin de paragraphe",
  "XtraRichEditStringId.FindAndReplaceForm_EndOfWord": "Fin de mot",
  "XtraRichEditStringId.FindAndReplaceForm_EscapeSpecialCharacter": "Caractère spécial d'échappement",
  "XtraRichEditStringId.FindAndReplaceForm_Integer": "Entier",
  "XtraRichEditStringId.FindAndReplaceForm_OneOrMore": "Une ou plus",
  "XtraRichEditStringId.FindAndReplaceForm_Or": "Ou",
  "XtraRichEditStringId.FindAndReplaceForm_SpaceOrTab": "Espace ou tabulation",
  "XtraRichEditStringId.FindAndReplaceForm_TagExpression": "Expression marquée",
  "XtraRichEditStringId.FindAndReplaceForm_TaggedExpression": "Expression marquée {0}",
  "XtraRichEditStringId.FindAndReplaceForm_WordCharacter": "Mot",
  "XtraRichEditStringId.FindAndReplaceForm_ZeroOrMore": "Zéro ou plus",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentCenter": "Centré",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentLeft": "Gauche",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionAlignmentRight": "Droite",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeCharacter": "Caractère",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeColumn": "Colonne",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeInsideMargin": "Marge intérieure",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeLeftMargin": "Marge de gauche",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeMargin": "Marge",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeOutsideMargin": "Marge extérieure",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypePage": "Page",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_HorizontalPositionTypeRightMargin": "Marge de droite",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentBottom": "Bas",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentCenter": "Centré",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentInside": "À l'intérieur",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentOutside": "À l'extérieur",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionAlignmentTop": "Haut",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeBottomMargin": "Marge inférieure",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeInsideMargin": "Marge intérieure",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeLine": "Ligne",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeMargin": "Marge",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeOutsideMargin": "Marge extérieure",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypePage": "Page",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeParagraph": "Paragraphe",
  "XtraRichEditStringId.FloatingObjectLayoutOptionsForm_VerticalPositionTypeTopMargin": "Marge supérieure",
  "XtraRichEditStringId.FontStyle_Bold": "Gras",
  "XtraRichEditStringId.FontStyle_BoldItalic": "Gras Italique",
  "XtraRichEditStringId.FontStyle_Italic": "Italique",
  "XtraRichEditStringId.FontStyle_Regular": "Normal",
  "XtraRichEditStringId.FontStyle_Strikeout": "Barré",
  "XtraRichEditStringId.FontStyle_Underline": "Souligné",
  "XtraRichEditStringId.HyperlinkForm_EditHyperlinkTitle": "Modifier le lien hypertexte",
  "XtraRichEditStringId.HyperlinkForm_InsertHyperlinkTitle": "Insérer un lien hypertexte",
  "XtraRichEditStringId.HyperlinkForm_SelectedBookmarkNone": "<aucun>",
  "XtraRichEditStringId.HyperlinkForm_SelectionInDocument": "Sélection dans le document",
  "XtraRichEditStringId.InsertTableForm_InvalidColumnCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.InsertTableForm_InvalidRowCount": "The number must be between {0} and {1}.",
  "XtraRichEditStringId.KeyName_Alt": "Alt",
  "XtraRichEditStringId.KeyName_Control": "Ctrl",
  "XtraRichEditStringId.KeyName_Shift": "Maj",
  "XtraRichEditStringId.LinkedCharacterStyleFormatString": "{0} Char",
  "XtraRichEditStringId.LocalizedStyleName_Hyperlink": "Lien hypertexte",
  "XtraRichEditStringId.LocalizedStyleName_Normal": "Normal",
  "XtraRichEditStringId.MenuCmd_Accept": "Accept",
  "XtraRichEditStringId.MenuCmd_AcceptAllChanges": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTracking": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesAndStopTrackingDescription": "Accept All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesDescription": "Accept All Changes",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShown": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAllChangesShownDescription": "Accept All Changes Shown",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevision": "Accept and Move to Next",
  "XtraRichEditStringId.MenuCmd_AcceptAndMoveToNextRevisionDescription": "Keep this change and move one to the next one.",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevision": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptCurrentRevisionDescription": "Accept This Change",
  "XtraRichEditStringId.MenuCmd_AcceptDescription": "Cliquez pour des options supplémentaires, telles que l’acceptation de toutes les modifications à la fois.",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContents": "Ajouter du texte",
  "XtraRichEditStringId.MenuCmd_AddParagraphsToTableOfContentsDescription": "Ajoute le paragraphe actuel sous forme d'entrée dans la table des matières.",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraph": "Ajouter un esp&ace après le paragraphe",
  "XtraRichEditStringId.MenuCmd_AddSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraph": "Ajouter un espace avant le paragraphe",
  "XtraRichEditStringId.MenuCmd_AddSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionary": "Ajouter au dictionnaire",
  "XtraRichEditStringId.MenuCmd_AddWordToDictionaryDescription": "Ajouter au dictionnaire",
  "XtraRichEditStringId.MenuCmd_AllAuthors": "Tous les auteurs",
  "XtraRichEditStringId.MenuCmd_BackSpaceKey": "Retour arrière",
  "XtraRichEditStringId.MenuCmd_BackSpaceKeyDescription": "Retour arrière",
  "XtraRichEditStringId.MenuCmd_Bookmark": "Marque-page...",
  "XtraRichEditStringId.MenuCmd_BookmarkDescription": "Marque-page...",
  "XtraRichEditStringId.MenuCmd_BrowserPrint": "Impression du navigateur",
  "XtraRichEditStringId.MenuCmd_BrowserPrintDescription": "Print document with browser print capabilities.",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreview": "Browser Print Preview",
  "XtraRichEditStringId.MenuCmd_BrowserPrintPreviewDescription": "Preview pages in browser before printing.",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCase": "Capitalize Each Word",
  "XtraRichEditStringId.MenuCmd_CapitalizeEachWordTextCaseDescription": "Capitaliser chaque mot.",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyle": "Modifier le style de la police",
  "XtraRichEditStringId.MenuCmd_ChangeCharacterStyleDescription": "Modifie le style de la police",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCount": "Colonne",
  "XtraRichEditStringId.MenuCmd_ChangeColumnCountDescription": "Colonne",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSize": "ChangeColumnSize",
  "XtraRichEditStringId.MenuCmd_ChangeColumnSizeDescription": "ChangeColumnSizeDescription",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColor": "Couleur de trait",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemColorDescription": "Change la couleur du pinceau.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyle": "Style de ligne",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineStyleDescription": "Change le style de la ligne utilisée pour tracer les bordures.",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThickness": "Epaisseur de ligne",
  "XtraRichEditStringId.MenuCmd_ChangeCurrentBorderRepositoryItemLineThicknessDescription": "Change l'épaisseur de la ligne utilisée pour tracer les bordures.",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewMode": "Display for Review",
  "XtraRichEditStringId.MenuCmd_ChangeDisplayForReviewModeDescription": "Choose how you'd like to see changes in this document.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignment": "Position des objets",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectAlignmentDescription": "Positionne l'objet sélectionné sur la page.\n    \nLe texte est automatiquement défini pour se placer tout autour de l'objet.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColor": "Remplissage de forme",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectFillColorDescription": "Remplir la forme sélectionnée avec une couleur unie.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColor": "Contour de forme",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineColorDescription": "Spécifier la couleur du contour de la forme sélectionnée.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidth": "Contour de forme Épaisseur",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectOutlineWidthDescription": "Spécifier la largeur du contour de la forme sélectionnée.",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapType": "Renvoyer à la ligne automatiquement",
  "XtraRichEditStringId.MenuCmd_ChangeFloatingObjectTextWrapTypeDescription": "Modifie l'habillage du texte autour de l'objet sélectionné.\n    \nPour configurer l'objet afin qu'il se déplace avec le texte tout autour, sélectionnez l'option Aligné sur le texte.",
  "XtraRichEditStringId.MenuCmd_ChangeFontColor": "Couleur de police",
  "XtraRichEditStringId.MenuCmd_ChangeFontColorDescription": "Changer la couleur de police",
  "XtraRichEditStringId.MenuCmd_ChangeFontName": "Police",
  "XtraRichEditStringId.MenuCmd_ChangeFontNameDescription": "Modifie le type de police",
  "XtraRichEditStringId.MenuCmd_ChangeFontSize": "Taille de police",
  "XtraRichEditStringId.MenuCmd_ChangeFontSizeDescription": "Modifie la taille de la police",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptions": "Hyphenation",
  "XtraRichEditStringId.MenuCmd_ChangeHyphenationOptionsDescription": "Turn on hyphenation to create more uniform spacing and save space in your document.",
  "XtraRichEditStringId.MenuCmd_ChangeIndent": "Changer retrait",
  "XtraRichEditStringId.MenuCmd_ChangeIndentDescription": "Change le retrait",
  "XtraRichEditStringId.MenuCmd_ChangeLanguage": "Langue",
  "XtraRichEditStringId.MenuCmd_ChangeLanguageDescription": "Définir la langue utilisée pour vérifier l'orthographe et la grammaire du texte sélectionné.",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWord": "(aucune suggestion)",
  "XtraRichEditStringId.MenuCmd_ChangeMistakenWordDescription": "(aucune suggestion)",
  "XtraRichEditStringId.MenuCmd_ChangeNoProof": "NoProof",
  "XtraRichEditStringId.MenuCmd_ChangeNoProofDescription": "Change NoProof",
  "XtraRichEditStringId.MenuCmd_ChangePageColor": "Couleur de page",
  "XtraRichEditStringId.MenuCmd_ChangePageColorDescription": "Applique une couleur à l'arrière-plan de la page.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColor": "Trame de fond",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphBackColorDescription": "Modifier l'arrière-plan, derrière le paragraphe sélectionné.",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndent": "IncrementParagraphFirstLineIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphFirstLineIndentDescription": "IncrementParagraphFirstLineIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndent": "ChangeParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLeftIndentDescription": "ChangeParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacing": "Interligne",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphLineSpacingDescription": "Change l'espacement entre les lignes de texte.\n\nVous pouvez également personnaliser la quantité d'espace ajouté avant et après les paragraphes.\n",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyle": "Changer style de paragraphe",
  "XtraRichEditStringId.MenuCmd_ChangeParagraphStyleDescription": "Change le style de paragraphe",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumbering": "Numéros de ligne",
  "XtraRichEditStringId.MenuCmd_ChangeSectionLineNumberingDescription": "Ajoute des numéros de ligne dans la marge en regard de chaque ligne du document.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMargins": "Marges",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageMarginsDescription": "Sélectionnez les dimensions des marges pour le document complet ou pour la sélection actuelle.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientation": "Orientation",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPageOrientationDescription": "Passer du mode paysage au mode portrait.",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKind": "Taille",
  "XtraRichEditStringId.MenuCmd_ChangeSectionPagePaperKindDescription": "Permet de choisir le format de papier pour la section actuelle.",
  "XtraRichEditStringId.MenuCmd_ChangeStyle": "Style rapide",
  "XtraRichEditStringId.MenuCmd_ChangeStyleDescription": "Change le jeu de styles, couleurs et polices utilisées dans ce document",
  "XtraRichEditStringId.MenuCmd_ChangeTableBorders": "Bordures",
  "XtraRichEditStringId.MenuCmd_ChangeTableBordersDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholder": "Alignement",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellAlignmentPlaceholderDescription": "Personnaliser l'alignement des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignment": "Alignement de la cellule",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellsContentAlignmentDescription": "Alignement de la cellule",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShading": "Remplissage",
  "XtraRichEditStringId.MenuCmd_ChangeTableCellShadingDescription": "Colorie le fond situé en dessous des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ChangeTextCase": "Modifier la casse",
  "XtraRichEditStringId.MenuCmd_ChangeTextCaseDescription": "Passe le texte sélectionné en MAJUSCULE, minuscule ou une autre casse.",
  "XtraRichEditStringId.MenuCmd_CheckSpelling": "Correcteur orthographique",
  "XtraRichEditStringId.MenuCmd_CheckSpellingDescription": "Correcteur orthographique",
  "XtraRichEditStringId.MenuCmd_ClearFormatting": "Efface la mise en forme",
  "XtraRichEditStringId.MenuCmd_ClearFormattingDescription": "Efface complètement la mise en fome de la sélection et conserve uniquement le texte brut",
  "XtraRichEditStringId.MenuCmd_ClearUndo": "ClearUndo",
  "XtraRichEditStringId.MenuCmd_ClearUndoDescription": "Clear Undo Buffer",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooter": "Fermer entête et pied de page",
  "XtraRichEditStringId.MenuCmd_ClosePageHeaderFooterDescription": "Ferme l'outil Entête et pied de page.\n\nVous pouvez également double-cliquer sur la zone de document pour revenir à l'édition.",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBar": "Réduire ou développer la barre de formule",
  "XtraRichEditStringId.MenuCmd_CollapseOrExpandFormulaBarDescription": "Réduire ou développer la barre de formule (Ctrl + Maj + U)",
  "XtraRichEditStringId.MenuCmd_Comment": "Voir les commentaires",
  "XtraRichEditStringId.MenuCmd_CommentDescription": "Choisir ou non de mettre en évidence les commentaires dans le document.",
  "XtraRichEditStringId.MenuCmd_ConvertNotesDescription": "Convert Note",
  "XtraRichEditStringId.MenuCmd_ConvertToEndnote": "Convert to Endnote",
  "XtraRichEditStringId.MenuCmd_ConvertToFootnote": "Convert to Footnote",
  "XtraRichEditStringId.MenuCmd_CopySelection": "Copier",
  "XtraRichEditStringId.MenuCmd_CopySelectionDescription": "Copie la sélection et la place dans le presse-papier",
  "XtraRichEditStringId.MenuCmd_CreateBookmark": "Créer un marque-page",
  "XtraRichEditStringId.MenuCmd_CreateBookmarkDescription": "Créer un marque-page",
  "XtraRichEditStringId.MenuCmd_CreateField": "Créer un champ",
  "XtraRichEditStringId.MenuCmd_CreateFieldDescription": "Création d'un champ",
  "XtraRichEditStringId.MenuCmd_CreateHyperlink": "Créer un lien hypertexte",
  "XtraRichEditStringId.MenuCmd_CreateHyperlinkDescription": "Créer un lien hypertexte.",
  "XtraRichEditStringId.MenuCmd_CutSelection": "Couper",
  "XtraRichEditStringId.MenuCmd_CutSelectionDescription": "Coupe la sélection à partir du document et la place dans le presse-papier",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSize": "Réduire la police",
  "XtraRichEditStringId.MenuCmd_DecreaseFontSizeDescription": "Réduit la taille de la police",
  "XtraRichEditStringId.MenuCmd_DecrementFontSize": "Diminuer la taille de la police",
  "XtraRichEditStringId.MenuCmd_DecrementFontSizeDescription": "Diminue la taille de la police",
  "XtraRichEditStringId.MenuCmd_DecrementIndent": "Diminuer le retrait",
  "XtraRichEditStringId.MenuCmd_DecrementIndentDescription": "Diminue la mise en retrait du paragraphe",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraph": "Diminuer la numérotation du paragraphe",
  "XtraRichEditStringId.MenuCmd_DecrementNumerationFromParagraphDescription": "Diminue la numérotation du paragraphe",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndent": "Diminuer le retrait gauche du paragraphe",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphLeftIndentDescription": "Diminue le retrait gauche du paragraphe",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevel": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_DecrementParagraphOutlineLevelDescription": "Decrement outline level",
  "XtraRichEditStringId.MenuCmd_Delete": "Supprimer",
  "XtraRichEditStringId.MenuCmd_DeleteAllComments": "Delete All Comments",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsDescription": "Delete All Comments.",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShown": "Delete All Comments Shown",
  "XtraRichEditStringId.MenuCmd_DeleteAllCommentsShownDescription": "Delete All Comments Shown.",
  "XtraRichEditStringId.MenuCmd_DeleteBack": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBackCore": "DeleteBackCore",
  "XtraRichEditStringId.MenuCmd_DeleteBackCoreDescription": "DeleteBackCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteBackDescription": "DeleteBack",
  "XtraRichEditStringId.MenuCmd_DeleteBookmark": "Supprimer le signet",
  "XtraRichEditStringId.MenuCmd_DeleteBookmarkDescription": "Supprimer le signet",
  "XtraRichEditStringId.MenuCmd_DeleteComment": "Supprimer",
  "XtraRichEditStringId.MenuCmd_DeleteCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteCore": "DeleteCore",
  "XtraRichEditStringId.MenuCmd_DeleteCoreDescription": "DeleteCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteDescription": "Supprimer",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraph": "Supprimer numérotation de paragraphe",
  "XtraRichEditStringId.MenuCmd_DeleteNumerationFromParagraphDescription": "Supprimession numérotation de paragraphe",
  "XtraRichEditStringId.MenuCmd_DeleteOneComment": "Delete Comment",
  "XtraRichEditStringId.MenuCmd_DeleteOneCommentDescription": "Delete the selected comment.",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWord": "Effacer le mot répété",
  "XtraRichEditStringId.MenuCmd_DeleteRepeatedWordDescription": "Effacer le mot répété.",
  "XtraRichEditStringId.MenuCmd_DeleteTable": "Supprimer le tableau",
  "XtraRichEditStringId.MenuCmd_DeleteTableCells": "Supprimer les cellules",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsDescription": "Supprimer les cellules",
  "XtraRichEditStringId.MenuCmd_DeleteTableCellsMenuItem": "Supprimer les cellules...",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumns": "Supprimer les colonnes",
  "XtraRichEditStringId.MenuCmd_DeleteTableColumnsDescription": "Supprimer les colonnes",
  "XtraRichEditStringId.MenuCmd_DeleteTableDescription": "Supprimer tout le tableau",
  "XtraRichEditStringId.MenuCmd_DeleteTableElements": "Supprimer",
  "XtraRichEditStringId.MenuCmd_DeleteTableElementsDescription": "Supprimer des lignes, des colonnes, des cellules ou tout le tableau.",
  "XtraRichEditStringId.MenuCmd_DeleteTableRows": "Supprimer les lignes",
  "XtraRichEditStringId.MenuCmd_DeleteTableRowsDescription": "Supprimer les lignes",
  "XtraRichEditStringId.MenuCmd_DeleteTableStyle": "Supprimer le Style de Table...",
  "XtraRichEditStringId.MenuCmd_DeleteWord": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeleteWordBack": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCore": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackCoreDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordBackDescription": "DeleteWordBack",
  "XtraRichEditStringId.MenuCmd_DeleteWordCore": "DeleteWordCore",
  "XtraRichEditStringId.MenuCmd_DeleteWordCoreDescription": "DeleteWordCoreDescription",
  "XtraRichEditStringId.MenuCmd_DeleteWordDescription": "DeleteWord",
  "XtraRichEditStringId.MenuCmd_DeselectAll": "Désélectionner tout",
  "XtraRichEditStringId.MenuCmd_DeselectAllDescription": "Reset document selection.",
  "XtraRichEditStringId.MenuCmd_DraftView": "Brouillon",
  "XtraRichEditStringId.MenuCmd_DraftViewDescription": "Brouillon",
  "XtraRichEditStringId.MenuCmd_EditHyperlink": "Modifier le lien hypertexte...",
  "XtraRichEditStringId.MenuCmd_EditHyperlinkDescription": "Modifier le lien hypertexte...",
  "XtraRichEditStringId.MenuCmd_EditPageFooter": "Pied",
  "XtraRichEditStringId.MenuCmd_EditPageFooterDescription": "Edite le pied du document.\n\nLe contenu du pied apparaitra en bas de chaque page imprimée.",
  "XtraRichEditStringId.MenuCmd_EditPageHeader": "Entête",
  "XtraRichEditStringId.MenuCmd_EditPageHeaderDescription": "Edite l'entête du document.\n\nLe contenu de l'entête apparaitra en haut de chaque page imprimée.\n",
  "XtraRichEditStringId.MenuCmd_EditTOC": "Modifier la Table des matières...",
  "XtraRichEditStringId.MenuCmd_EncryptDocument": "Encrypt with Password",
  "XtraRichEditStringId.MenuCmd_EncryptDocumentDescription": "Password-protect this document.",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontally": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleHorizontallyDescription": "EnsureCaretVisibleHorizontally",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVertically": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnsureCaretVisibleVerticallyDescription": "EnsureCaretVisibleVertically",
  "XtraRichEditStringId.MenuCmd_EnterKey": "EnterKey",
  "XtraRichEditStringId.MenuCmd_EnterKeyDescription": "EnterKeyDescription",
  "XtraRichEditStringId.MenuCmd_Find": "Rechercher",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackward": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectBackwardDescription": "FindAndSelectBackward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForward": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindAndSelectForwardDescription": "FindAndSelectForward",
  "XtraRichEditStringId.MenuCmd_FindDescription": "Rechercher dans le document",
  "XtraRichEditStringId.MenuCmd_FindNext": "Rechercher suivant",
  "XtraRichEditStringId.MenuCmd_FindNextDescription": "Recommencer la dernière recherche vers l'avant",
  "XtraRichEditStringId.MenuCmd_FindPrev": "Rechercher précédent",
  "XtraRichEditStringId.MenuCmd_FindPrevDescription": "Recommencer la dernière recherche vers l'arrière",
  "XtraRichEditStringId.MenuCmd_FirstDataRecord": "Premier enregistrement",
  "XtraRichEditStringId.MenuCmd_FirstDataRecordDescription": "Premier enregistrement.",
  "XtraRichEditStringId.MenuCmd_FitHeight": "Fit Height",
  "XtraRichEditStringId.MenuCmd_FitHeightDescription": "Adjusts the document zoom factor to fit the entire page height to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitToPage": "Ajuster à la Page",
  "XtraRichEditStringId.MenuCmd_FitToPageDescription": "Adjusts the document zoom factor to fit the entire page to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FitWidth": "Largeur",
  "XtraRichEditStringId.MenuCmd_FitWidthDescription": "Adjusts the document zoom factor to fit the entire page width to the editing surface dimensions.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForward": "Avancer",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardDescription": "Placer l’objet sélectionné vers l’avant afin qu’il soit masqué par moins d’objets.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholder": "Avancer",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringForwardPlaceholderDescription": "Placer l’objet sélectionné vers l’avant afin qu’il soit masqué par moins d’objets.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfText": "Texte en dessous",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringInFrontOfTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFront": "Mettre au premier plan",
  "XtraRichEditStringId.MenuCmd_FloatingObjectBringToFrontDescription": "Placer l’objet sélectionné devant tous les autres objets de sorte qu’aucune partie n’est cachée derrière d’autres objets.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackward": "Reculer",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardDescription": "Envoyer l’objet sélectionné vers l’arrière afin qu’il soit masqué par les objets placés devant.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholder": "Reculer",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBackwardPlaceholderDescription": "Envoyer l’objet sélectionné vers l’arrière afin qu’il soit masqué par les objets placés devant.",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindText": "Texte au-dessus",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendBehindTextDescription": " ",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBack": "Mettre à l'arrière-plan",
  "XtraRichEditStringId.MenuCmd_FloatingObjectSendToBackDescription": "Placer l’objet sélectionné derrière tous les autres objets.",
  "XtraRichEditStringId.MenuCmd_FontSubscript": "Indice",
  "XtraRichEditStringId.MenuCmd_FontSubscriptDescription": "Crée des petites lettres en-dessous la ligne de base du texte",
  "XtraRichEditStringId.MenuCmd_FontSuperscript": "Suffixe",
  "XtraRichEditStringId.MenuCmd_FontSuperscriptDescription": "Crée des petites lettres au-dessus la ligne de base du texte",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooter": "Afficher suivant",
  "XtraRichEditStringId.MenuCmd_GoToNextHeaderFooterDescription": "Navigue vers l'entête ou le pied de la section suivante",
  "XtraRichEditStringId.MenuCmd_GoToPage": "Aller à la page",
  "XtraRichEditStringId.MenuCmd_GoToPageDescription": "Aller à la page",
  "XtraRichEditStringId.MenuCmd_GoToPageFooter": "Aller dans le pied",
  "XtraRichEditStringId.MenuCmd_GoToPageFooterDescription": "Active le pied sur cette page pour que vous puissiez l'éditer.",
  "XtraRichEditStringId.MenuCmd_GoToPageHeader": "Aller dans l'entête",
  "XtraRichEditStringId.MenuCmd_GoToPageHeaderDescription": "Active l'entête sur cette page pour que vous puissiez l'éditer.",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooter": "Afficher précédent",
  "XtraRichEditStringId.MenuCmd_GoToPreviousHeaderFooterDescription": "Navigue vers l'entête ou le pied de la précédente section",
  "XtraRichEditStringId.MenuCmd_HighlightText": "Couleur de surbrillance",
  "XtraRichEditStringId.MenuCmd_HighlightTextDescription": "Donne au texte l'apparence d'être surligné",
  "XtraRichEditStringId.MenuCmd_Hyperlink": "Lien hypertexte...",
  "XtraRichEditStringId.MenuCmd_HyperlinkDescription": "Lien hypertexte...",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWords": "Ignorer tout",
  "XtraRichEditStringId.MenuCmd_IgnoreAllMistakenWordsDescription": "Ignorer tout",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWord": "Ignorer",
  "XtraRichEditStringId.MenuCmd_IgnoreMistakenWordDescription": "Ignorer",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSize": "Agrandir la police",
  "XtraRichEditStringId.MenuCmd_IncreaseFontSizeDescription": "Augmente la taille de la police",
  "XtraRichEditStringId.MenuCmd_IncrementFontSize": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementFontSizeDescription": "IncrementFontSize",
  "XtraRichEditStringId.MenuCmd_IncrementIndent": "Augmenter le retrait",
  "XtraRichEditStringId.MenuCmd_IncrementIndentDescription": "Augmente la mise en retrait du paragraphe",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraph": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementNumerationFromParagraphDescription": "IncrementNumerationFromParagraph",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndent": "IncrementParagraphLeftIndent",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphLeftIndentDescription": "IncrementParagraphLeftIndentDescription",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevel": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_IncrementParagraphOutlineLevelDescription": "Increment outline level",
  "XtraRichEditStringId.MenuCmd_InsertBreak": "Sauts",
  "XtraRichEditStringId.MenuCmd_InsertBreakDescription": "Ajouter des sauts de page, section ou colonne au document.",
  "XtraRichEditStringId.MenuCmd_InsertBulletList": "Puces",
  "XtraRichEditStringId.MenuCmd_InsertBulletListDescription": "Démarre une liste à puce",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholder": "Insérer une légende",
  "XtraRichEditStringId.MenuCmd_InsertCaptionPlaceholderDescription": "Ajoute une légende à une figure ou une image.\n    \nUne légende est une ligne de texte qui apparaît en dessous d'un objet pour le décrire.",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMark": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingDoubleQuotationMarkDescription": "InsertClosingDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMark": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertClosingSingleQuotationMarkDescription": "InsertClosingSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreak": "Insérer un saut de colonne",
  "XtraRichEditStringId.MenuCmd_InsertColumnBreakDescription": "Indique que le texte qui suit le saut de colonne commencera dans la colonne suivante",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbol": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertCopyrightSymbolDescription": "InsertCopyrightSymbol",
  "XtraRichEditStringId.MenuCmd_InsertEllipsis": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEllipsisDescription": "InsertEllipsis",
  "XtraRichEditStringId.MenuCmd_InsertEmDash": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEmDashDescription": "InsertEmDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDash": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEnDashDescription": "InsertEnDash",
  "XtraRichEditStringId.MenuCmd_InsertEndnote": "Insert Endnote",
  "XtraRichEditStringId.MenuCmd_InsertEndnoteDescription": "Add a endnote",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaption": "Légende des équations",
  "XtraRichEditStringId.MenuCmd_InsertEquationsCaptionDescription": "Add a equation caption.",
  "XtraRichEditStringId.MenuCmd_InsertField": "Insérer un champ",
  "XtraRichEditStringId.MenuCmd_InsertFieldDescription": "Insérer un champ",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaption": "Légende des figures",
  "XtraRichEditStringId.MenuCmd_InsertFiguresCaptionDescription": "Ajouter une légende de la figure.",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPicture": "Photo",
  "XtraRichEditStringId.MenuCmd_InsertFloatingObjectPictureDescription": "Insérer une image à partir d'un fichier.",
  "XtraRichEditStringId.MenuCmd_InsertFootnote": "Insert Footnote",
  "XtraRichEditStringId.MenuCmd_InsertFootnoteDescription": "Add a footnote",
  "XtraRichEditStringId.MenuCmd_InsertHyperlink": "Insère un lien hypertexte",
  "XtraRichEditStringId.MenuCmd_InsertHyperlinkDescription": "Insère un lien hypertexte.",
  "XtraRichEditStringId.MenuCmd_InsertHyphen": "InsertHyphen",
  "XtraRichEditStringId.MenuCmd_InsertLineBreak": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertLineBreakDescription": "InsertLineBreak",
  "XtraRichEditStringId.MenuCmd_InsertMergeField": "InsertMergeField",
  "XtraRichEditStringId.MenuCmd_InsertMergeFieldDescription": "InsertMergeFieldDescription",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelList": "Liste à plusieurs niveaux",
  "XtraRichEditStringId.MenuCmd_InsertMultilevelListDescription": "Démarre une liste à plusieurs niveaux",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingHyphen": "InsertNonBreakingHyphen",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpace": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertNonBreakingSpaceDescription": "InsertNonBreakingSpace",
  "XtraRichEditStringId.MenuCmd_InsertObject": "Objet",
  "XtraRichEditStringId.MenuCmd_InsertObjectDescription": "Insérer un objet incorporé, tel qu’un autre document Word ou un graphique Excel.",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMark": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningDoubleQuotationMarkDescription": "InsertOpeningDoubleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMark": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertOpeningSingleQuotationMarkDescription": "InsertOpeningSingleQuotationMark",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak": "Saut de page",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2": "Saut de page",
  "XtraRichEditStringId.MenuCmd_InsertPageBreak2Description": "Commencer la prochaine page à la position actuelle.",
  "XtraRichEditStringId.MenuCmd_InsertPageBreakDescription": "Marque l'endroit où se termine une page et où commence la page suivante.",
  "XtraRichEditStringId.MenuCmd_InsertPageCountField": "Nombre de pages",
  "XtraRichEditStringId.MenuCmd_InsertPageCountFieldDescription": "Insère le nombre de page total dans le document.",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberField": "Numéro de page",
  "XtraRichEditStringId.MenuCmd_InsertPageNumberFieldDescription": "Insère des numéros de page à l'intérieur du document.",
  "XtraRichEditStringId.MenuCmd_InsertParagraph": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertParagraphDescription": "InsertParagraph",
  "XtraRichEditStringId.MenuCmd_InsertPicture": "Insérer une image",
  "XtraRichEditStringId.MenuCmd_InsertPictureDescription": "Insère une image d'un fichier",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbol": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertRegisteredTrademarkSymbolDescription": "InsertRegisteredTrademark Symbol",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuous": "Section (Continu)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakContinuousDescription": "Insère un saut de section et démarre la nouvelle section sur la même page.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPage": "Section (Page paire)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakEvenPageDescription": "Insère un saut de section et démarre la nouvelle section sur la page paire suivante.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPage": "Section (Page suivante)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakNextPageDescription": "Insère un saut de section et démarre la nouvelle section à la page suivante.",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPage": "Section (Page impaire)",
  "XtraRichEditStringId.MenuCmd_InsertSectionBreakOddPageDescription": "Insère un saut de section et démarre la nouvelle section sur la page impaire suivante.",
  "XtraRichEditStringId.MenuCmd_InsertSimpleList": "Numérotation",
  "XtraRichEditStringId.MenuCmd_InsertSimpleListDescription": "Démarre une liste numérotée",
  "XtraRichEditStringId.MenuCmd_InsertSymbol": "Symbole",
  "XtraRichEditStringId.MenuCmd_InsertSymbolDescription": "Insère des symboles qui ne sont pas disponibles au clavier, comme le symbole \"copyright\", le symbole \"marque déposée\", les marques de paragraphe et les caractères Unicode.",
  "XtraRichEditStringId.MenuCmd_InsertTab": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTabDescription": "InsertTab",
  "XtraRichEditStringId.MenuCmd_InsertTable": "Tableau",
  "XtraRichEditStringId.MenuCmd_InsertTableCells": "Insérer des cellules",
  "XtraRichEditStringId.MenuCmd_InsertTableCellsDescription": "Insérer des cellules",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeft": "Insérer des colonnes à gauche",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheLeftDescription": "Insérer une nouvelle colonne à gauche de la ligne sélectionnée.",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRight": "Insérer des colonnes à droite",
  "XtraRichEditStringId.MenuCmd_InsertTableColumnToTheRightDescription": "Insérer une nouvelle colonne à droite de la ligne sélectionnée.",
  "XtraRichEditStringId.MenuCmd_InsertTableDescription": "Ajouter un tableau au document",
  "XtraRichEditStringId.MenuCmd_InsertTableElement": "Insérer",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContents": "Table des matières",
  "XtraRichEditStringId.MenuCmd_InsertTableOfContentsDescription": "Ajoute une table des matières au document.\n    \nAprès avoir ajouté une table des matières, cliquez sur le bouton Ajouter du texte pour ajouter des entrées au tableau.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquations": "Table des équations",
  "XtraRichEditStringId.MenuCmd_InsertTableOfEquationsDescription": "Insérer une Table des équations dans le document.\n\nUn tableau des équations comprend une liste de toutes les équations dans le document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFigures": "Table des illustrations",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresDescription": "Insérer une Table des illustrations dans le document.\n\nUne Table des illustrations comprend une liste de tous les chiffres dans le document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholder": "Insérer une table des illustrations",
  "XtraRichEditStringId.MenuCmd_InsertTableOfFiguresPlaceholderDescription": "Insère une table des illustrations dans le document.\n\nLa table des illustrations comprend une liste de l'ensemble des illustrations, tableaux ou équations du document.",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTables": "Tableau de tableaux",
  "XtraRichEditStringId.MenuCmd_InsertTableOfTablesDescription": "Insert a Table of Tables into the document.\n\nA Table of Tables includes a list of all the tables in the document.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAbove": "Insérer une ligne au-dessus",
  "XtraRichEditStringId.MenuCmd_InsertTableRowAboveDescription": "Insérer une nouvelle ligne au-dessus de la ligne sélectionnée.",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelow": "Insérer une ligne en-dessous",
  "XtraRichEditStringId.MenuCmd_InsertTableRowBelowDescription": "Insérer une nouvelle ligne en-dessous de la ligne sélectionnée.",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaption": "Légende des tableaux",
  "XtraRichEditStringId.MenuCmd_InsertTablesCaptionDescription": "Ajouter une légende de table.",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraph": "InsertTabToParagraph",
  "XtraRichEditStringId.MenuCmd_InsertTabToParagraphDescription": "InsertTabToParagraphDescription",
  "XtraRichEditStringId.MenuCmd_InsertText": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTextBox": "Zone de texte",
  "XtraRichEditStringId.MenuCmd_InsertTextBoxDescription": "Insère une zone de texte dans le document.",
  "XtraRichEditStringId.MenuCmd_InsertTextDescription": "InsertText",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbol": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_InsertTrademarkSymbolDescription": "InsertTrademarkSymbol",
  "XtraRichEditStringId.MenuCmd_Language": "Langue",
  "XtraRichEditStringId.MenuCmd_LanguageDescription": "Set the language used to check the spelling and grammar of the selected text.",
  "XtraRichEditStringId.MenuCmd_LastDataRecord": "Dernier enregistrement",
  "XtraRichEditStringId.MenuCmd_LastDataRecordDescription": "Dernier enregistrement.",
  "XtraRichEditStringId.MenuCmd_LoadDocument": "Ouvrir",
  "XtraRichEditStringId.MenuCmd_LoadDocumentDescription": "Ouvrir",
  "XtraRichEditStringId.MenuCmd_LockField": "Champ de verrouillage",
  "XtraRichEditStringId.MenuCmd_LockFieldDescription": "Champ de verrouillage",
  "XtraRichEditStringId.MenuCmd_LockTracking": "Lock Tracking",
  "XtraRichEditStringId.MenuCmd_LockTrackingDescription": "Use a password to keep others from turning off Track Changes",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommand": "Fusion et publipostage",
  "XtraRichEditStringId.MenuCmd_MailMergeSaveDocumentAsCommandDescription": "Fusion et publipostage.",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCase": "minuscule",
  "XtraRichEditStringId.MenuCmd_MakeTextLowerCaseDescription": "Passe le texte sélectionné en minuscule.",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCase": "MAJUSCULE",
  "XtraRichEditStringId.MenuCmd_MakeTextUpperCaseDescription": "Passe le texte sélectionné en MAJUSCULE.",
  "XtraRichEditStringId.MenuCmd_MergeTableCells": "Fusionner les cellules",
  "XtraRichEditStringId.MenuCmd_MergeTableCellsDescription": "Fusionner les cellules sélectionnées en une seule.",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlink": "Modifier un lien hypertexte",
  "XtraRichEditStringId.MenuCmd_ModifyHyperlinkDescription": "Modifier un lien hypertexte.",
  "XtraRichEditStringId.MenuCmd_ModifyTableStyle": "Modifier le Style de Table...",
  "XtraRichEditStringId.MenuCmd_MoveBackward": "Aller vers l'arrière",
  "XtraRichEditStringId.MenuCmd_MoveBackwardDescription": "Aller vers l'arrière",
  "XtraRichEditStringId.MenuCmd_MoveForward": "Aller vers l'avant",
  "XtraRichEditStringId.MenuCmd_MoveForwardDescription": "Aller vers l'avant",
  "XtraRichEditStringId.MenuCmd_MoveLineDown": "Aller à la ligne en dessous",
  "XtraRichEditStringId.MenuCmd_MoveLineDownDescription": "Aller à la ligne en dessous",
  "XtraRichEditStringId.MenuCmd_MoveLineUp": "Aller à la ligne au-dessus",
  "XtraRichEditStringId.MenuCmd_MoveLineUpDescription": "Aller à la ligne au-dessus",
  "XtraRichEditStringId.MenuCmd_MoveNextPage": "Aller à la page suivante",
  "XtraRichEditStringId.MenuCmd_MoveNextPageDescription": "Aller à la page suivante",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraph": "Aller au paragraphe suivant",
  "XtraRichEditStringId.MenuCmd_MoveNextParagraphDescription": "Aller au paragraphe suivant",
  "XtraRichEditStringId.MenuCmd_MoveNextWord": "Aller au mot suivant",
  "XtraRichEditStringId.MenuCmd_MoveNextWordDescription": "Aller au mot suivant",
  "XtraRichEditStringId.MenuCmd_MovePreviousPage": "Aller à la page précédente",
  "XtraRichEditStringId.MenuCmd_MovePreviousPageDescription": "Aller à la page précédente",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraph": "Aller au paragraphe précédent",
  "XtraRichEditStringId.MenuCmd_MovePreviousParagraphDescription": "Aller au paragraphe précédent",
  "XtraRichEditStringId.MenuCmd_MovePreviousWord": "Aller au mot précédent",
  "XtraRichEditStringId.MenuCmd_MovePreviousWordDescription": "Aller au mot précédent",
  "XtraRichEditStringId.MenuCmd_MoveScreenDown": "Aller à l'écran en-dessous",
  "XtraRichEditStringId.MenuCmd_MoveScreenDownDescription": "Aller à l'écran en-dessous",
  "XtraRichEditStringId.MenuCmd_MoveScreenUp": "Aller à l'écran du-dessus",
  "XtraRichEditStringId.MenuCmd_MoveScreenUpDescription": "Aller à l'écran du-dessus",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocument": "Aller au début du document",
  "XtraRichEditStringId.MenuCmd_MoveToBeginOfDocumentDescription": "Aller au début du document",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocument": "Aller à la fin du document",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfDocumentDescription": "Aller à la fin du document",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLine": "Aller à la fin de la ligne",
  "XtraRichEditStringId.MenuCmd_MoveToEndOfLineDescription": "Aller à la fin de la ligne",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLine": "Aller au début de la ligne",
  "XtraRichEditStringId.MenuCmd_MoveToStartOfLineDescription": "Aller au début de la ligne",
  "XtraRichEditStringId.MenuCmd_NewComment": "New Comment",
  "XtraRichEditStringId.MenuCmd_NewCommentDescription": "Add a comment about the selection.",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocument": "Nouveau",
  "XtraRichEditStringId.MenuCmd_NewEmptyDocumentDescription": "Créer un nouveau document",
  "XtraRichEditStringId.MenuCmd_NewTableStyle": "Nouveau Style de tableau...",
  "XtraRichEditStringId.MenuCmd_NextComment": "Suivant",
  "XtraRichEditStringId.MenuCmd_NextCommentDescription": "Naviguer vers le commentaire suivant dans le document.",
  "XtraRichEditStringId.MenuCmd_NextDataRecord": "Enregistrement suivant",
  "XtraRichEditStringId.MenuCmd_NextDataRecordDescription": "Enregistrement suivant.",
  "XtraRichEditStringId.MenuCmd_NextEndnote": "Next Endnote",
  "XtraRichEditStringId.MenuCmd_NextEndnoteDescription": "Jump to next endnote",
  "XtraRichEditStringId.MenuCmd_NextFootnote": "Next Footnote",
  "XtraRichEditStringId.MenuCmd_NextFootnoteDescription": "Jump to next footnote",
  "XtraRichEditStringId.MenuCmd_NextRevision": "Suivant",
  "XtraRichEditStringId.MenuCmd_NextRevisionDescription": "Jump to the next tracked change.",
  "XtraRichEditStringId.MenuCmd_None": " ",
  "XtraRichEditStringId.MenuCmd_NoteOptions": "Note Options...",
  "XtraRichEditStringId.MenuCmd_OpenHyperlink": "Ouvrir le lien hypertexte",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPosition": "OpenHyperlinkAtCaretPosition",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkAtCaretPositionDescription": "OpenHyperlinkAtCaretPositionDescription",
  "XtraRichEditStringId.MenuCmd_OpenHyperlinkDescription": "Ouvrir le lien hypertexte",
  "XtraRichEditStringId.MenuCmd_OvertypeText": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_OvertypeTextDescription": "OvertypeText",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenter": "Centrer",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentCenterDescription": "Texte centré",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistribute": "Distributed",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentDistributeDescription": "Align text to both left and right margins.\n\nSpace will be added between characters and words. If the last line is short, extra spaces will be added between the characters to make it match the width of the paragraph.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustify": "Justifier",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyDescription": "Aligne le texte à la fois sur les marges de gauche et de droite, en ajoutant un espace supplémentaire entre les mots si nécessaire.\n\nCeci améliore la netteté des bords gauche et droite de la page.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHigh": "Justifier la haute",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyHighDescription": "Aligner le texte sur les marges gauche et droite.\n    \nSpécifie qu’un paragraphe utilise le kashida avec la longueur la plus large pour le texte arabe. Pour les autres langues, le texte du paragraphe est justifié par l’espacement entre les mots le plus large.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLow": "Justifier faible",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyLowDescription": "Aligner le texte sur les marges gauche et droite.\n    \nSi la langue est l’arabe, le paragraphe utilise la petite longueur Kashida. Dans d’autres langues, le texte est justifié par un espacement entre les mots court.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMedium": "Justifier moyen",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentJustifyMediumDescription": "Aligne le texte sur les marges gauche et droite.\n    \nSi la langue est l'arabe, le paragraphe utilise le kashida de longueur moyenne. Dans d'autres langues, le texte est justifié par un espacement plus grand entre mots.",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeft": "Aligner le texte à gauche",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentLeftDescription": "Aligne le texte à gauche",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRight": "Aligner le texte à droite",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentRightDescription": "Aligne le texte à droite",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistribute": "Thaï distribué",
  "XtraRichEditStringId.MenuCmd_ParagraphAlignmentThaiDistributeDescription": "Align text to both left and right margins by adding extra space between each two characters for languages with tone mark and vowel mark.",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRight": "Left-to-Right Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphLeftToRightDescription": "Set the text to read from right to left.",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeft": "Right-to-Left Text Direction",
  "XtraRichEditStringId.MenuCmd_ParagraphRightToLeftDescription": "Set the text to read from left to right.",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenation": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressHyphenationDescription": "Suppress Hyphenation for Current Paragraph",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbers": "Supprimer les numéros de ligne pour le paragraphe actuel",
  "XtraRichEditStringId.MenuCmd_ParagraphSuppressLineNumbersDescription": "Supprimer les numéros de ligne pour le paragraphe actuel",
  "XtraRichEditStringId.MenuCmd_Paste": "Coller",
  "XtraRichEditStringId.MenuCmd_PasteDescription": "Coller le contenu depuis le presse-papier",
  "XtraRichEditStringId.MenuCmd_PasteFiles": "Fichiers",
  "XtraRichEditStringId.MenuCmd_PasteFilesDescription": "Insère le contenu du presse-papiers comme un fichier incorporé.",
  "XtraRichEditStringId.MenuCmd_PasteHtmlText": "Format HTML",
  "XtraRichEditStringId.MenuCmd_PasteHtmlTextDescription": "Insère le contenu du presse-papiers dans le format HTML.",
  "XtraRichEditStringId.MenuCmd_PasteImage": "Photo",
  "XtraRichEditStringId.MenuCmd_PasteImageDescription": "Insère le contenu du presse-papiers en tant qu'image.",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImage": "Metafile",
  "XtraRichEditStringId.MenuCmd_PasteMetafileImageDescription": "Insère le contenu du presse-papiers en tant que métafichier.",
  "XtraRichEditStringId.MenuCmd_PastePlainText": "Texte sans mise en forme",
  "XtraRichEditStringId.MenuCmd_PastePlainTextDescription": "Insère le contenu du presse-papiers sous forme de texte sans mise en forme.",
  "XtraRichEditStringId.MenuCmd_PasteRtfText": "Texte mis en forme (RTF)",
  "XtraRichEditStringId.MenuCmd_PasteRtfTextDescription": "Insère le contenu du presse-papiers sous forme de texte avec la police et la mise en forme du tableau.",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlText": "Texte mis en forme (XAML)",
  "XtraRichEditStringId.MenuCmd_PasteSilverlightXamlTextDescription": "Insère le contenu du presse-papiers sous forme de texte avec mise en forme des polices.",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPoint": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PlaceCaretToPhysicalPointDescription": "PlaceCaretToPhysicalPoint",
  "XtraRichEditStringId.MenuCmd_PreviousComment": "Précédent",
  "XtraRichEditStringId.MenuCmd_PreviousCommentDescription": "Accédez au commentaire précédent dans le document.",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecord": "Enregistrement précédent",
  "XtraRichEditStringId.MenuCmd_PreviousDataRecordDescription": "Enregistrement précédent.",
  "XtraRichEditStringId.MenuCmd_PreviousEndnote": "Previous Endnote",
  "XtraRichEditStringId.MenuCmd_PreviousEndnoteDescription": "Jump to previous endnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnote": "Previous Footnote",
  "XtraRichEditStringId.MenuCmd_PreviousFootnoteDescription": "Jump to previous footnote",
  "XtraRichEditStringId.MenuCmd_PrevRevision": "Précédent",
  "XtraRichEditStringId.MenuCmd_PrevRevisionDescription": "Jump to the previous tracked change.",
  "XtraRichEditStringId.MenuCmd_Print": "Im&primer",
  "XtraRichEditStringId.MenuCmd_PrintDescription": "Sélectionner une imprimante, le nombre de copies et d'autres options d'impression avant d'imprimer.",
  "XtraRichEditStringId.MenuCmd_PrintPreview": "&Aperçu avant impression",
  "XtraRichEditStringId.MenuCmd_PrintPreviewDescription": "Affiche un  aperçu et modifie les pages avant impression.",
  "XtraRichEditStringId.MenuCmd_PrintView": "Aperçu avant impression",
  "XtraRichEditStringId.MenuCmd_PrintViewDescription": "Aperçu avant impression",
  "XtraRichEditStringId.MenuCmd_ProtectDocument": "Protéger le document",
  "XtraRichEditStringId.MenuCmd_ProtectDocumentDescription": "Restreint la possibilité d'édition du document par la mise en place d'un mot de passe.",
  "XtraRichEditStringId.MenuCmd_QuickPrint": "I&mpression rapide",
  "XtraRichEditStringId.MenuCmd_QuickPrintDescription": "Envoie le document directement à l'imprimante par défaut sans apporter de modifications.",
  "XtraRichEditStringId.MenuCmd_ReadingView": "Lecture",
  "XtraRichEditStringId.MenuCmd_ReadingViewDescription": "Lecture",
  "XtraRichEditStringId.MenuCmd_Redo": "Rétablir",
  "XtraRichEditStringId.MenuCmd_RedoDescription": "Rétablir",
  "XtraRichEditStringId.MenuCmd_Reject": "Reject",
  "XtraRichEditStringId.MenuCmd_RejectAllChanges": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTracking": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesAndStopTrackingDescription": "Reject All Changes and Stop Tracking",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesDescription": "Reject All Changes",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShown": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAllChangesShownDescription": "Reject All Changes Shown",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevision": "Reject and Move to Next",
  "XtraRichEditStringId.MenuCmd_RejectAndMoveToNextRevisionDescription": "Undo this change and move on to the next one.",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevision": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectCurrentRevisionDescription": "Reject This Change",
  "XtraRichEditStringId.MenuCmd_RejectDescription": "Click for additional options, such as rejecting all the changes at once.",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlink": "Supprimer le lien hypertexte",
  "XtraRichEditStringId.MenuCmd_RemoveHyperlinkDescription": "Supprimer le lien hypertexte",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraph": "Retire l'espace &après le paragraphe",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingAfterParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraph": "Retire l'&espace avant le paragraphe",
  "XtraRichEditStringId.MenuCmd_RemoveSpacingBeforeParagraphDescription": " ",
  "XtraRichEditStringId.MenuCmd_Replace": "Remplace",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackward": "Remplacer tout vers l'arrière",
  "XtraRichEditStringId.MenuCmd_ReplaceAllBackwardDescription": "Remplacer tout vers l'arrière",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForward": "Remplacer tout vers l'avant",
  "XtraRichEditStringId.MenuCmd_ReplaceAllForwardDescription": "Remplacer tout vers l'avant",
  "XtraRichEditStringId.MenuCmd_ReplaceBackward": "Remplacer vers l'arrière",
  "XtraRichEditStringId.MenuCmd_ReplaceBackwardDescription": "Remplacer vers l'arrière",
  "XtraRichEditStringId.MenuCmd_ReplaceDescription": "Remplacer le texte dans le document.",
  "XtraRichEditStringId.MenuCmd_ReplaceForward": "Remplacer vers l'avant",
  "XtraRichEditStringId.MenuCmd_ReplaceForwardDescription": "Remplacer vers l'avant",
  "XtraRichEditStringId.MenuCmd_ReplaceText": "Remplacer le texte",
  "XtraRichEditStringId.MenuCmd_ReplaceTextDescription": "Remplacer le texte",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormatting": "Rétablir le format de caractères",
  "XtraRichEditStringId.MenuCmd_ResetCharacterFormattingDescription": "Utilise le format de caractères de la sélection comme format par défaut pour le style appliqué.",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBorders": "Pas de bordure",
  "XtraRichEditStringId.MenuCmd_ResetTableCellsBordersDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_Reviewers": "Examinateurs",
  "XtraRichEditStringId.MenuCmd_ReviewersDescription": "Select which reviewer comments to highlight in the document.",
  "XtraRichEditStringId.MenuCmd_ReviewingPane": "Reviewing Pane",
  "XtraRichEditStringId.MenuCmd_ReviewingPaneDescription": "Show or hide the document comments in a separate window.",
  "XtraRichEditStringId.MenuCmd_SaveDocument": "Enregistrer",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAs": "Enregistrer sous",
  "XtraRichEditStringId.MenuCmd_SaveDocumentAsDescription": "Enregistrer sous",
  "XtraRichEditStringId.MenuCmd_SaveDocumentDescription": "Enregistrer",
  "XtraRichEditStringId.MenuCmd_ScrollDown": "Descendre",
  "XtraRichEditStringId.MenuCmd_ScrollDownDescription": "Descendre",
  "XtraRichEditStringId.MenuCmd_ScrollToPage": "Faites défiler la page",
  "XtraRichEditStringId.MenuCmd_ScrollToPageDescription": "Faites défiler la page",
  "XtraRichEditStringId.MenuCmd_SelectAll": "Sélectionner tout",
  "XtraRichEditStringId.MenuCmd_SelectAllDescription": "Sélectionner tout",
  "XtraRichEditStringId.MenuCmd_SelectBookmark": "Sélectionner le signet",
  "XtraRichEditStringId.MenuCmd_SelectBookmarkDescription": "Sélectionner le signet",
  "XtraRichEditStringId.MenuCmd_SelectComment": "Sélectionnez le commentaire",
  "XtraRichEditStringId.MenuCmd_SelectCommentDescription": "Sélectionnez le commentaire",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaret": "SelectFieldNextToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldNextToCaretDescription": "SelectFieldNextToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaret": "SelectFieldPrevToCaret",
  "XtraRichEditStringId.MenuCmd_SelectFieldPrevToCaretDescription": "SelectFieldPrevToCaretDescription",
  "XtraRichEditStringId.MenuCmd_SelectTable": "Sélectionner le tableau",
  "XtraRichEditStringId.MenuCmd_SelectTableCell": "Sélectionner la cellule",
  "XtraRichEditStringId.MenuCmd_SelectTableCellDescription": "Sélectionner la cellule",
  "XtraRichEditStringId.MenuCmd_SelectTableColumns": "Sélectionner la colonne",
  "XtraRichEditStringId.MenuCmd_SelectTableColumnsDescription": "Sélectionner la colonne",
  "XtraRichEditStringId.MenuCmd_SelectTableDescription": "Sélectionner le tableau",
  "XtraRichEditStringId.MenuCmd_SelectTableElements": "Sélectionner",
  "XtraRichEditStringId.MenuCmd_SelectTableElementsDescription": "Sélectionne la celllule, la ligne, la colonne ou le tableau actuels",
  "XtraRichEditStringId.MenuCmd_SelectTableRow": "Sélectionner la ligne",
  "XtraRichEditStringId.MenuCmd_SelectTableRowDescription": "Sélectionner la ligne",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacing": "2.0",
  "XtraRichEditStringId.MenuCmd_SetDoubleParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapType": "Derrière le texte",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBehindTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignment": "Bas au centre",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomCenterAlignmentDescription": "En bas au centre avec habillage de texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignment": "Bas à gauche",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomLeftAlignmentDescription": "En bas à gauche avec habillage de texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignment": "Bas à droite",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectBottomRightAlignmentDescription": "En bas à droite avec habillage de texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapType": "Devant le texte",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInFrontOfTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapType": "In Line with Text",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectInlineWithTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignment": "Milieu au centre",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleCenterAlignmentDescription": "Au milieu au centre avec habillage du texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignment": "Milieu à gauche",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleLeftAlignmentDescription": "Au milieu à gauche avec habillage du texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignment": "Milieu à droite",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectMiddleRightAlignmentDescription": "Au milieu à droite avec habillage du texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapType": "Carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectSquareTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapType": "Au travers",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectThroughTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapType": "Rapproché",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTightTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapType": "Haut et bas",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopAndBottomTextWrapTypeDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignment": "Haut au centre",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopCenterAlignmentDescription": "En haut au centre avec habillage de texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignment": "Haut à gauche",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopLeftAlignmentDescription": "En haut à gauche avec habillage du texte carré",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignment": "Haut à droite",
  "XtraRichEditStringId.MenuCmd_SetFloatingObjectTopRightAlignmentDescription": "En haut à droite avec habillage du texte carré",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomatic": "Automatique",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentAutomaticDescription": "Turns on Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNone": "Aucun",
  "XtraRichEditStringId.MenuCmd_SetHyphenateDocumentNoneDescription": "Turns off Automatic Hyphenation",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientation": "Paysage",
  "XtraRichEditStringId.MenuCmd_SetLandscapePageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMargins": "Modéré\nHaut:  \t{1,10}\tBas:   \t{3,10}\nGauche:\t{0,10}\tDroite:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetModerateSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMargins": "Etroit\nHaut:\t{1,10}\tBas:\t{3,10}\nGauche:\t{0,10}\tDroite:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNarrowSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMargins": "Normal\nHaut:\t{1,10}\tBas:\t{3,10}\nGauche:\t{0,10}\tDroite:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetNormalSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevel": "Ne pas afficher dans la table des matières",
  "XtraRichEditStringId.MenuCmd_SetParagraphBodyTextLevelDescription": "Ne pas afficher dans la table des matières",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1Level": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading1LevelDescription": "Level 1",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2Level": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading2LevelDescription": "Level 2",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3Level": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading3LevelDescription": "Level 3",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4Level": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading4LevelDescription": "Level 4",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5Level": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading5LevelDescription": "Level 5",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6Level": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading6LevelDescription": "Level 6",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7Level": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading7LevelDescription": "Level 7",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8Level": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading8LevelDescription": "Level 8",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9Level": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeading9LevelDescription": "Level 9",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevel": "Niveau {0}",
  "XtraRichEditStringId.MenuCmd_SetParagraphHeadingLevelDescription": "Niveau {0}",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientation": "Portrait",
  "XtraRichEditStringId.MenuCmd_SetPortraitPageOrientationDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSectionColumns": "Colonnes",
  "XtraRichEditStringId.MenuCmd_SetSectionColumnsDescription": "Sépare le texte en deux colonnes ou plus.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuous": "Continu",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingContinuousDescription": "Continu",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNone": "Aucun",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingNoneDescription": "Aucun numéro de ligne.",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPage": "Redémarrer chaque page",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewPageDescription": "Redémarrer chaque page",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSection": "Redémarrer chaque section",
  "XtraRichEditStringId.MenuCmd_SetSectionLineNumberingRestartNewSectionDescription": "Redémarrer chaque section",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumn": "Une",
  "XtraRichEditStringId.MenuCmd_SetSectionOneColumnDescription": "Une colonne.",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumns": "Trois",
  "XtraRichEditStringId.MenuCmd_SetSectionThreeColumnsDescription": "Trois colonnes.",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumns": "Deux",
  "XtraRichEditStringId.MenuCmd_SetSectionTwoColumnsDescription": "Deux colonnes.",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacing": "1.5",
  "XtraRichEditStringId.MenuCmd_SetSesquialteralParagraphSpacingDescription": " ",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacing": "1.0",
  "XtraRichEditStringId.MenuCmd_SetSingleParagraphSpacingDescription": "SetSingleParagraphSpacing",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMargins": "Large\nHaut:\t{1,10}\tBas:\t{3,10}\nGauche:\t{0,10}\tDroite:\t\t{2,10}",
  "XtraRichEditStringId.MenuCmd_SetWideSectionPageMarginsDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShiftTabKey": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShiftTabKeyDescription": "ShiftTabKey",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodes": "Montrer tous les codes de champ",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldCodesDescription": "Montrer tous les codes de champ",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResults": "Montrer tous les résultats de champ",
  "XtraRichEditStringId.MenuCmd_ShowAllFieldResultsDescription": "Montrer tous les résultats de champ",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkForm": "Marque-page",
  "XtraRichEditStringId.MenuCmd_ShowBookmarkFormDescription": "Créé un marque page pour désigner un point spécifique du document par un nom\n\nVous pouvez créer des liens hypertexte qui renvoient directement à la position d'un marque-page.",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingForm": "Bordure et trame",
  "XtraRichEditStringId.MenuCmd_ShowBordersShadingFormDescription": "Explorez les options de bordure supplémentaires, tels que la couleur de la ligne et la largeur de ligne",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupForm": "Colonnes...",
  "XtraRichEditStringId.MenuCmd_ShowColumnsSetupFormDescription": "Afficher la boîte de dialogue Colonnes pour personnaliser les largeurs de colonne.",
  "XtraRichEditStringId.MenuCmd_ShowCommentForm": "Commentaire",
  "XtraRichEditStringId.MenuCmd_ShowCommentFormDescription": "Afficher la boîte de dialogue commentaire.",
  "XtraRichEditStringId.MenuCmd_ShowDocumentProperties": "Propriétés du document",
  "XtraRichEditStringId.MenuCmd_ShowDocumentPropertiesDescription": "Afficher la boîte de dialogue Propriétés de.",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleForm": "Modifier le Style...",
  "XtraRichEditStringId.MenuCmd_ShowEditStyleFormDescription": "Afficher la boîte de dialogue Modifier le Style.",
  "XtraRichEditStringId.MenuCmd_ShowEndnote": "Go to Endnote",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsForm": "Autres options de disposition...",
  "XtraRichEditStringId.MenuCmd_ShowFloatingObjectLayoutOptionsFormDescription": "Afficher la boîte de dialogue Disposition.",
  "XtraRichEditStringId.MenuCmd_ShowFontForm": "Police",
  "XtraRichEditStringId.MenuCmd_ShowFontFormDescription": "Affiche la boite de dialogue de police",
  "XtraRichEditStringId.MenuCmd_ShowFootnote": "Go to Footnote",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkForm": "Lien hypertexte",
  "XtraRichEditStringId.MenuCmd_ShowHyperlinkFormDescription": "Créé un lien vers une page Web, une image, une adresse électronique ou un programme",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationForm": "Hyphenation Options...",
  "XtraRichEditStringId.MenuCmd_ShowHyphenationFormDescription": "Change the hyphenation behavior of the selected text.",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldForm": "Insérer un champ de fusion",
  "XtraRichEditStringId.MenuCmd_ShowInsertMergeFieldFormDescription": "Ajoute n'importe quel champ de votre liste de destinataires au document",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingForm": "Options de numérotation de ligne...",
  "XtraRichEditStringId.MenuCmd_ShowLineNumberingFormDescription": "Options de numérotation de ligne",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingForm": "Options d'interligne...",
  "XtraRichEditStringId.MenuCmd_ShowLineSpacingFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowMarkup": "Show Markup",
  "XtraRichEditStringId.MenuCmd_ShowMarkupDescription": "Choose what types of markup to show in your document.",
  "XtraRichEditStringId.MenuCmd_ShowNotes": "Show Notes",
  "XtraRichEditStringId.MenuCmd_ShowNotesDescription": "Jump to the footnotes or endnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesForm": "Footnotes",
  "XtraRichEditStringId.MenuCmd_ShowNotesFormDescription": "Show the Notes dialog box.",
  "XtraRichEditStringId.MenuCmd_ShowNumberingList": "Puces et numérotation",
  "XtraRichEditStringId.MenuCmd_ShowNumberingListDescription": "Afficher la boîte de dialogue liste numérotée.",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupForm": "Marges personnalisées...",
  "XtraRichEditStringId.MenuCmd_ShowPageMarginsSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupForm": "Autres tailles de papier...",
  "XtraRichEditStringId.MenuCmd_ShowPagePaperSetupFormDescription": " ",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupForm": "Mise en page",
  "XtraRichEditStringId.MenuCmd_ShowPageSetupFormDescription": "Afficher la boîte de dialogue Mise en page.",
  "XtraRichEditStringId.MenuCmd_ShowParagraphForm": "Paragraphe",
  "XtraRichEditStringId.MenuCmd_ShowParagraphFormDescription": "Affiche la boite de dialogue de paragraphe",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialForm": "Collage spécial",
  "XtraRichEditStringId.MenuCmd_ShowPasteSpecialFormDescription": "Afficher la boîte de dialogue Collage spécial",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsForm": "Edition des autorisations",
  "XtraRichEditStringId.MenuCmd_ShowRangeEditingPermissionsFormDescription": "Edition des autorisations",
  "XtraRichEditStringId.MenuCmd_ShowSymbol": "Symbole",
  "XtraRichEditStringId.MenuCmd_ShowSymbolDescription": "Afficher la boîte de dialogue symbole.",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsForm": "Marges de la cellule",
  "XtraRichEditStringId.MenuCmd_ShowTableOptionsFormDescription": "Personnalise les marges des cellules et l'espacement entre les cellules.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesForm": "Propriétés du tableau",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescription": "Afficher la boîte de dialogue Propriétés du tableau pour modifier les propriétés avancées du tableau, telles que les options de mise en retrait ou d’habillage du texte.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormDescriptionMenuItem": "Afficher la boîte de dialogue Propriétés du tableau.",
  "XtraRichEditStringId.MenuCmd_ShowTablePropertiesFormMenuItem": "Propriétés du tableau...",
  "XtraRichEditStringId.MenuCmd_ShowTabsForm": "Tabulation",
  "XtraRichEditStringId.MenuCmd_ShowTabsFormDescription": "Tabulation",
  "XtraRichEditStringId.MenuCmd_SimpleView": "Simple",
  "XtraRichEditStringId.MenuCmd_SimpleViewDescription": "Simple",
  "XtraRichEditStringId.MenuCmd_SplitTable": "Fractionner le tableau",
  "XtraRichEditStringId.MenuCmd_SplitTableCells": "Fractionner les cellules",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsDescription": "Fractionne les cellules sélectionnées en plusieurs nouvelles cellules",
  "XtraRichEditStringId.MenuCmd_SplitTableCellsMenuItem": "Fractionner  les cellules...",
  "XtraRichEditStringId.MenuCmd_SplitTableDescription": "Fractionne le tableau en deux tableaux.\nLa ligne sélectionnée deviendra la première ligne du nouveau tableau.",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftView": "Brouillon",
  "XtraRichEditStringId.MenuCmd_SwitchToDraftViewDescription": "Affiche le document en tant que brouillon pour éditer rapidement le texte.\n\nCertains éléments du document tels que les entête et les pieds de page ne seront pas visibles dans cet affichage.",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutView": "Page",
  "XtraRichEditStringId.MenuCmd_SwitchToPrintLayoutViewDescription": "Affiche le document tel qu'il apparaitra à l'impression.",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleView": "Normal",
  "XtraRichEditStringId.MenuCmd_SwitchToSimpleViewDescription": "Affiche le document comme un simple mémo.\n\nCet affichage ne fait pas apparaitre la mise en page pour focaliser l'attention sur l'édition du texte.",
  "XtraRichEditStringId.MenuCmd_SymbolFormInsertButton": "Insérer",
  "XtraRichEditStringId.MenuCmd_TabKey": "TabKey",
  "XtraRichEditStringId.MenuCmd_TabKeyDescription": "TabKey",
  "XtraRichEditStringId.MenuCmd_ToggleAllFields": "Activer/désactiver tous les champs",
  "XtraRichEditStringId.MenuCmd_ToggleAllFieldsDescription": "Bascule entre l’affichage des codes de champ et leurs résultats dans le document",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibility": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleAuthorVisibilityDescription": "Toggle Authors Visibility",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumn": "Bandes de colonnes",
  "XtraRichEditStringId.MenuCmd_ToggleBandedColumnDescription": "Display banded columns, in which even columns are formatted differently from odd columns.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRows": "Bandes lignes",
  "XtraRichEditStringId.MenuCmd_ToggleBandedRowsDescription": "Display banded rows, in which even rows are formatted differently from odd rows.\n\nThis banding can make tables easier to read.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPage": "Différencier la première page",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentFirstPageDescription": "Définit un entête et un pied spécifiques à la première page du document.",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPages": "Différencier pages paires et impaires",
  "XtraRichEditStringId.MenuCmd_ToggleDifferentOddAndEvenPagesDescription": "Définit que les pages paires doivent avoir un entête et un pied différents des pages impaires.",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodes": "Basculer code de champs",
  "XtraRichEditStringId.MenuCmd_ToggleFieldCodesDescription": "Basculer code de champs",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLocked": "Activer/désactiver champ verrouillé",
  "XtraRichEditStringId.MenuCmd_ToggleFieldLockedDescription": "Activer/désactiver champ verrouillé",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumn": "Première colonne",
  "XtraRichEditStringId.MenuCmd_ToggleFirstColumnDescription": "Afficher une mise en forme spéciale pour la première colonne du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRow": "Ligne d'en-tête",
  "XtraRichEditStringId.MenuCmd_ToggleFirstRowDescription": "Afficher une mise en forme spéciale pour la première ligne du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleFontBold": "Gras",
  "XtraRichEditStringId.MenuCmd_ToggleFontBoldDescription": "Met le texte sélectionné en gras",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeout": "Barré double",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleStrikeoutDescription": "Barré double",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderline": "Souligné double",
  "XtraRichEditStringId.MenuCmd_ToggleFontDoubleUnderlineDescription": "Souligné double",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalic": "Italique",
  "XtraRichEditStringId.MenuCmd_ToggleFontItalicDescription": "Met le texte sélectionné en italique",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeout": "Barré",
  "XtraRichEditStringId.MenuCmd_ToggleFontStrikeoutDescription": "Trace une ligne au milieu du texte sélectionné",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderline": "Souligné",
  "XtraRichEditStringId.MenuCmd_ToggleFontUnderlineDescription": "Souligne le texte sélectionné",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPrevious": "Lier à la précédente",
  "XtraRichEditStringId.MenuCmd_ToggleHeaderFooterLinkToPreviousDescription": "Lie à la précédente section afin que l'entête et le pied de la section actuelle ait le même contenu que la section précédente.",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenText": "Texte caché",
  "XtraRichEditStringId.MenuCmd_ToggleHiddenTextDescription": "Texte caché",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumn": "Dernière colonne",
  "XtraRichEditStringId.MenuCmd_ToggleLastColumnDescription": "Afficher une mise en forme spéciale pour la dernière colonne du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleLastRow": "Ligne de total",
  "XtraRichEditStringId.MenuCmd_ToggleLastRowDescription": "Afficher une mise en forme spéciale pour la dernière ligne du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleOvertype": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleOvertypeDescription": "Overtype",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRuler": "Règle horizontale",
  "XtraRichEditStringId.MenuCmd_ToggleShowHorizontalRulerDescription": "Affiche la règle horizontale, utilisée pour mesurer et aligner les objets dans le document",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLines": "Afficher le quadrillage",
  "XtraRichEditStringId.MenuCmd_ToggleShowTableGridLinesDescription": "Affiche ou masque le quadrillage à l'intérieur du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRuler": "Règle verticale",
  "XtraRichEditStringId.MenuCmd_ToggleShowVerticalRulerDescription": "Affiche la règle verticale, utilisée pour mesurer et aligner les objets dans le document",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouType": "Vérifier l'orthographe au cours de la frappe",
  "XtraRichEditStringId.MenuCmd_ToggleSpellCheckAsYouTypeDescription": "Vérifier l'orthographe au cours de la frappe.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContents": "Ajuster au contenu",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitContentsDescription": "Ajuste automatiquement le tableau au contenu.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholder": "Ajustement automatique",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitPlaceholderDescription": "Redimensionne automatiquement les largeurs de colonnes en fonction de la taille du texte qui s'y trouve.\n    \nVous pouvez définir la largeur du tableau en fonction de la taille de la fenêtre ou le reconvertir pour utiliser les largeurs de colonnes fixes.",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindow": "Ajuster à la fenêtre",
  "XtraRichEditStringId.MenuCmd_ToggleTableAutoFitWindowDescription": "Ajustement automatique du tableau à la fenêtre.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBorders": "Toutes les bordures",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsAllBordersDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorder": "Bordure inférieure",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignment": "Aligner en bas au centre",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomCenterAlignmentDescription": "Centre le texte et l'aligne avec le bas de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignment": "Aligner en bas à gauche",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomLeftAlignmentDescription": "Aligne le texte au coin inférieur gauche de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignment": "Aligner en bas à droite",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsBottomRightAlignmentDescription": "Aligne le texte au coin inférieur droit de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorder": "Bordure intérieure",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorder": "Bordure intérieure horizontale",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideHorizontalBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorder": "Bordure intérieure verticale",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsInsideVerticalBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorder": "Bordure gauche",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsLeftBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignment": "Aligner au centre",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleCenterAlignmentDescription": "Centre le texte verticalement et horizontalement à l'intérieur de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignment": "Aligner au centre gauche",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleLeftAlignmentDescription": "Centre le texte verticalement et l'aligne avec le côté gauche de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignment": "Aligner au centre droit",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsMiddleRightAlignmentDescription": "Centre le texte verticalement et l'aligne avec le côté droit de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorder": "Bordure extérieure",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsOutsideBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorder": "Bordure droite",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsRightBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorder": "Bordure supérieure",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopBorderDescription": "Personnalise les bordures des cellules sélectionnées.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignment": "Aligner en haut au centre",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopCenterAlignmentDescription": "Centre le texte et l'aligne avec le haut de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignment": "Aligner en haut à gauche",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopLeftAlignmentDescription": "Aligne le texte au coin supérieur gauche de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignment": "Aligner en haut à droite",
  "XtraRichEditStringId.MenuCmd_ToggleTableCellsTopRightAlignmentDescription": "Aligne le texte au coin supérieur droit de la cellule.",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidth": "Largeur de colonne fixe",
  "XtraRichEditStringId.MenuCmd_ToggleTableFixedColumnWidthDescription": "Définir une largeur fixe du tableau.",
  "XtraRichEditStringId.MenuCmd_ToggleTextCase": "iNVERSER lA cASSE",
  "XtraRichEditStringId.MenuCmd_ToggleTextCaseDescription": "iNVERSER lA cASSE.",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedData": "Voir les données fusionnées",
  "XtraRichEditStringId.MenuCmd_ToggleViewMergedDataDescription": "Remplace les champs de fusion dans votre document par les données réelles de votre liste de destinataires pour vous permettre de visualiser sa présentation.",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespace": "Afficher/Masquer ¶",
  "XtraRichEditStringId.MenuCmd_ToggleWhitespaceDescription": "Affiche les marques de paragraphe et autres symboles de mise en forme masqués.",
  "XtraRichEditStringId.MenuCmd_TrackChanges": "Suivi des modifications",
  "XtraRichEditStringId.MenuCmd_TrackChangesDescription": "Gardez une trace des modifications apportées à ce document.",
  "XtraRichEditStringId.MenuCmd_Undo": "Annuler",
  "XtraRichEditStringId.MenuCmd_UndoDescription": "Annuler",
  "XtraRichEditStringId.MenuCmd_UnlockField": "Champ de déblocage",
  "XtraRichEditStringId.MenuCmd_UnlockFieldDescription": "Champ de déblocage",
  "XtraRichEditStringId.MenuCmd_UnprotectDocument": "Déprotéger le document",
  "XtraRichEditStringId.MenuCmd_UnprotectDocumentDescription": "Déprotéger le document",
  "XtraRichEditStringId.MenuCmd_UpdateField": "Mettre à jour les champs",
  "XtraRichEditStringId.MenuCmd_UpdateFieldDescription": "Mettre à jour les champs",
  "XtraRichEditStringId.MenuCmd_UpdateFields": "Mettre à jour les champs",
  "XtraRichEditStringId.MenuCmd_UpdateFieldsDescription": "Mettre à jour les champs.",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContents": "Mettre à jour la table",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfContentsDescription": "Met à jour la table des matières afin que toutes les entrées renvoient aux numéros de page correspondants.",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFigures": "Mise à jour de Table",
  "XtraRichEditStringId.MenuCmd_UpdateTableOfFiguresDescription": "Mettre à jour la Table des illustrations pour inclure toutes les entrées dans le document.",
  "XtraRichEditStringId.MenuCmd_Zoom": "Zoom",
  "XtraRichEditStringId.MenuCmd_ZoomDescription": "Zoom",
  "XtraRichEditStringId.MenuCmd_ZoomIn": "Zoom avant",
  "XtraRichEditStringId.MenuCmd_ZoomInDescription": "Zoom avant",
  "XtraRichEditStringId.MenuCmd_ZoomOut": "Zoom arrière",
  "XtraRichEditStringId.MenuCmd_ZoomOutDescription": "Zoom arrière",
  "XtraRichEditStringId.Msg_BookmarkCreationFailing": "Un signet avec un même nom existe déjà. Voulez-vous remplacer?",
  "XtraRichEditStringId.Msg_CannotGroupInlineShapes": "You cannot group inline shapes.",
  "XtraRichEditStringId.Msg_CannotGroupShapesLocatedInDifferentSubdocuments": "Cannot group shapes that are located in different subdocuments.",
  "XtraRichEditStringId.Msg_CantDeleteDefaultStyle": "Cannot delete default style.",
  "XtraRichEditStringId.Msg_CantPasteFormField": "You cannot paste form fields into comments, headers, footers, footnotes, endnotes, or text boxes.",
  "XtraRichEditStringId.Msg_CantResetDefaultProperties": "Ne peut pas réinitialiser les paramètres de style par défaut.",
  "XtraRichEditStringId.Msg_ClickToComment": " commented:",
  "XtraRichEditStringId.Msg_ClickToFollowHyperlink": "Cliquer pour suivre le lien",
  "XtraRichEditStringId.Msg_ContinueSearchFromBeginningQuestion": "Voulez-vous commencer la recherche au début du document ?",
  "XtraRichEditStringId.Msg_ContinueSearchFromEndQuestion": "Voulez-vous commencer la recherche à la fin du document ?",
  "XtraRichEditStringId.Msg_ContinueSearchInRemainderQuestion": "Voulez-vous rechercher dans le reste du document ?",
  "XtraRichEditStringId.Msg_CreateHyperlinkError": "Impossible de créer un lien hypertexte. Le lien existe déjà dans l'intervale indiqué.",
  "XtraRichEditStringId.Msg_DeleteTableStyleQuestion": "Voulez-vous supprimer {0} de style du document?",
  "XtraRichEditStringId.Msg_DocumentPositionDoesntMatchDocument": "Erreur : spécifié position de document ou de la plage appartient à autre document ou un sous-document",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPassword": "Le mot de passe n'est pas correct !",
  "XtraRichEditStringId.Msg_DocumentProtectionInvalidPasswordConfirmation": "La confirmation du mot de passe ne correspond pas.",
  "XtraRichEditStringId.Msg_DuplicateBookmark": "Un signet avec un même nom existe déjà",
  "XtraRichEditStringId.Msg_EncryptedFile": "Encrypted files are not currently supported",
  "XtraRichEditStringId.Msg_EncryptedFileIntegrityCheckFailed": "This file may have been tampered with or corrupted and the contents should not be trusted. Do you wish to continue opening this file?",
  "XtraRichEditStringId.Msg_ErrorInvalidCustomPropertyValue": "La valeur saisie ne correspond pas au type spécifié. La valeur est stockée sous forme de texte.",
  "XtraRichEditStringId.Msg_ErrorLinkDeletedStyle": "Erreur: Impossible de lier le style supprimé.",
  "XtraRichEditStringId.Msg_GroupCannotContainCanvas": "A group cannot contain a canvas.",
  "XtraRichEditStringId.Msg_IncorrectBookmarkName": "Bookmark name should start with a letter and contain only alphanumeric characters and underscore.",
  "XtraRichEditStringId.Msg_IncorrectNumericFieldFormat": "Erreur : Le  nombre ne peut pas être représenté dans le format spécifié.",
  "XtraRichEditStringId.Msg_IncorrectOleObjectInsertType": "This OLE object is linked and cannot be saved. You can save only embedded OLE objects.",
  "XtraRichEditStringId.Msg_IncorrectPassword": "The password you supplied is not correct. Verify that the CAPS LOCK key is off and be sure to use the correct capitalization.",
  "XtraRichEditStringId.Msg_IncorrectPattern": "Modèle incorrect.",
  "XtraRichEditStringId.Msg_IntegrityCheckFailedError": "Encrypted file integrity check failed!\nThis file may have been tampered with or corrupted.",
  "XtraRichEditStringId.Msg_InternalError": "Erreur interne!",
  "XtraRichEditStringId.Msg_InvalidBeginInit": "Erreur : Appelle de BeginInit dans BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidBeginUpdate": "Erreur : Appelle de BeginInit dans BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidCharacterScale": "The value must be between {0} and {1}",
  "XtraRichEditStringId.Msg_InvalidCopyFromDocumentModel": "Erreur : La source et la destination du modèle sont  différents",
  "XtraRichEditStringId.Msg_InvalidDictionaryFormat": "The dictionary format is incorrect.",
  "XtraRichEditStringId.Msg_InvalidDivisor": "Le nombre doit être un diviseur de {0}.",
  "XtraRichEditStringId.Msg_InvalidDocumentModel": "Erreur : Les modèles de document sont différents",
  "XtraRichEditStringId.Msg_InvalidEndInit": "Erreur : Appelle de EndInit ou CancelInit sans BeginInit ou à l'intérieur de BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidEndUpdate": "Erreur : Appelle de EndInit ou CancelInit sans BeginInit ou à l'intérieur de BeginUpdate",
  "XtraRichEditStringId.Msg_InvalidFontSize": "Le nombre doit être compris entre {0} et {1}",
  "XtraRichEditStringId.Msg_InvalidHeaderFooterOffset": "La mesure doit être comprise entre {0} et {1}.",
  "XtraRichEditStringId.Msg_InvalidHtmlImagePath": "Le chemin de l’image spécifiée n’existe pas.",
  "XtraRichEditStringId.Msg_InvalidImageFile": "L'image spécifiée n'est pas valide.",
  "XtraRichEditStringId.Msg_InvalidNavigateUri": "L'adresse de ce site n'est pas valide. Vérifiez l'adresse et ré-essayez.",
  "XtraRichEditStringId.Msg_InvalidNumber": "Ceci n'est pas un nombre valide",
  "XtraRichEditStringId.Msg_InvalidNumberingListIndex": "NumberingListIndex refers to a list that does not exist.",
  "XtraRichEditStringId.Msg_InvalidNumberingListStartAtValue": "Pour ce format, la valeur indiquée dans la zone À partir de doit être comprise entre {0} et {1}",
  "XtraRichEditStringId.Msg_InvalidParagraphContainNumbering": "Erreur : Le paragraphe contient déjà une numérotation",
  "XtraRichEditStringId.Msg_InvalidParentStyle": "Erreur : L'assignation d'un style parent invalidea causé une référence circulaire",
  "XtraRichEditStringId.Msg_InvalidSetCharacterProperties": "Erreur : Impossible de définir des propriétés sans BeginInit ou sans ajout d'objet du document",
  "XtraRichEditStringId.Msg_InvalidSetParagraphProperties": "Erreur : Impossible de définir des propriétés sans BeginInit ou sans ajout d'objet du document",
  "XtraRichEditStringId.Msg_InvalidString": "This is not a valid string.",
  "XtraRichEditStringId.Msg_InvalidStyleName": "Nom de style invalide",
  "XtraRichEditStringId.Msg_InvalidTabStop": "Ceci n'est pas une tabulation stop valide.",
  "XtraRichEditStringId.Msg_InvalidValueRange": "Le nombre doit être compris entre {0} et {1}",
  "XtraRichEditStringId.Msg_IsNotValid": "'{0}' n'est pas une valeur valide pour '{1}'",
  "XtraRichEditStringId.Msg_LeftRightSectionMarginsTooLarge": "The left/right margins are too large for the page height in some sections.",
  "XtraRichEditStringId.Msg_Loading": "Chargement en cours...",
  "XtraRichEditStringId.Msg_MagicNumberNotFound": "The file you are trying to open is in different format than specified by the file extension.",
  "XtraRichEditStringId.Msg_MenuManagerPropertyIsNotSet": "The MenuManager property of RichEditControl is not set.",
  "XtraRichEditStringId.Msg_MissingOperator": "Opérateur manquant",
  "XtraRichEditStringId.Msg_NoDefaultTabs": "Default tab stops cannot be set.",
  "XtraRichEditStringId.Msg_NoTocEntriesFound": "No table of contents entries found.",
  "XtraRichEditStringId.Msg_NoTrackedChanges": "There aren't any tracked changes in your document.",
  "XtraRichEditStringId.Msg_NumberingListNotInListCollection": "Cannot use a numbering List. The numbering list must be added to Document.NumberingLists collection",
  "XtraRichEditStringId.Msg_OperationIsNotValidDueDocumentState": "Operation is not valid due to the current state of the document.",
  "XtraRichEditStringId.Msg_ParagraphStyleNameAlreadyExists": "Ce nom de style existe déjà.",
  "XtraRichEditStringId.Msg_PasswordNotConfirmed": "Confirmation password is not identical.",
  "XtraRichEditStringId.Msg_PasswordRequiredError": "Password required to open this file!",
  "XtraRichEditStringId.Msg_PasswordTooLong": "La longueur du mot de passe doit être inférieure à {0} caractères.",
  "XtraRichEditStringId.Msg_PrintingUnavailable": "L'impression n'est pas disponible. Vérifiez si les assemblages suivants sont installés: \n{0}\n{1}",
  "XtraRichEditStringId.Msg_ReplacementsCount": "{0} remplacements ont été effectués.",
  "XtraRichEditStringId.Msg_Saving": "Enregistrement en cours...",
  "XtraRichEditStringId.Msg_SearchComplete": "La recherche est terminée.",
  "XtraRichEditStringId.Msg_SearchInBackwardDirectionComplete": "Le début du document a été atteint.",
  "XtraRichEditStringId.Msg_SearchInForwardDirectionComplete": "La fin du document a été atteint.",
  "XtraRichEditStringId.Msg_SearchInSelectionComplete": "La recherche dans la sélection est terminée.",
  "XtraRichEditStringId.Msg_SearchItemNotFound": "L'article recherché n'a pas été trouvé.",
  "XtraRichEditStringId.Msg_SelectBookmarkError": "Cannot select a bookmark of inactive SubDocument.",
  "XtraRichEditStringId.Msg_SelectCommentError": "Cannot select a comment of inactive SubDocument.",
  "XtraRichEditStringId.Msg_ShapesBelongToDifferentCanvases": "The specified shapes belong to different canvases and cannot be grouped.",
  "XtraRichEditStringId.Msg_ShapesDoNotBelogToCanvas": "One or more shapes do not belong to the canvas and cannot be grouped.",
  "XtraRichEditStringId.Msg_SpecifiedShapeIsNotGroup": "The specified shape is not a group.",
  "XtraRichEditStringId.Msg_StyleAlreadyLinked": "Erreur : Le style contient déjà un style lié",
  "XtraRichEditStringId.Msg_StyleNameIsEmpty": "Le nom de style ne peut pas être vide.",
  "XtraRichEditStringId.Msg_SyntaxErrorInFieldPattern": "Erreur de syntaxe, {0}.",
  "XtraRichEditStringId.Msg_TableExceedsMaximumNumberOfColumns": "This exceeds the maximum number of columns.",
  "XtraRichEditStringId.Msg_TableIntegrityError": "Erreur: l'intégrité du tableau est cassé",
  "XtraRichEditStringId.Msg_TopBottomSectionMarginsTooLarge": "Les marges haut/bas sont trop grands pour la hauteur de la page dans certaines sections.",
  "XtraRichEditStringId.Msg_UnexpectedEndOfFormula": "Fin de formule imprévue",
  "XtraRichEditStringId.Msg_UnknownSwitchArgument": "Erreur! Argument switch inconnu.",
  "XtraRichEditStringId.Msg_UnmatchedQuotesInFieldPattern": "Erreur de quotes dans la chaine de caractère.",
  "XtraRichEditStringId.Msg_UnsupportedDocVersion": "Seulement MS Word 97 et versions ultérieures sont pris en charge",
  "XtraRichEditStringId.Msg_UnsupportedFormatException": "Format de fichier non supporté",
  "XtraRichEditStringId.Msg_UseDeletedBookmarkError": "Error: using deleted bookmark",
  "XtraRichEditStringId.Msg_UseDeletedCommentError": "Error: using deleted comment",
  "XtraRichEditStringId.Msg_UseDeletedCustomMarkError": "Error: using deleted customMark",
  "XtraRichEditStringId.Msg_UseDeletedFieldError": "Erreur : en utilisant les champs de paragraphe",
  "XtraRichEditStringId.Msg_UseDeletedFormFieldError": "Error: using deleted form field",
  "XtraRichEditStringId.Msg_UseDeletedHyperlinkError": "Erreur: utilisation d'un lien hypertexte supprimé",
  "XtraRichEditStringId.Msg_UseDeletedNoteError": "Error: using deleted note",
  "XtraRichEditStringId.Msg_UseDeletedObjectError": "The object is already deleted.",
  "XtraRichEditStringId.Msg_UseDeletedParagraphError": "Erreur : en utilisant le paragraphe supprimé",
  "XtraRichEditStringId.Msg_UseDeletedSectionError": "Erreur : en utilisant la section supprimée",
  "XtraRichEditStringId.Msg_UseDeletedStyleError": "Erreur : en utilisant le style supprimé",
  "XtraRichEditStringId.Msg_UseDeletedTableCellError": "Error: using deleted table cell",
  "XtraRichEditStringId.Msg_UseDeletedTableError": "Error: using deleted table",
  "XtraRichEditStringId.Msg_UseDeletedTableRowError": "Error: using deleted table row",
  "XtraRichEditStringId.Msg_UsedWrongUnit": "L'unité de mesure a été spécifié incorrectement",
  "XtraRichEditStringId.Msg_UseInvalidCharacterProperties": "Erreur : Les propriétés de caractère ne sont plus valides",
  "XtraRichEditStringId.Msg_UseInvalidCompatibilitySettings": "Error: these compatibility settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidCustomProperties": "Erreur : cette propriétés personnalisées n’est plus valide",
  "XtraRichEditStringId.Msg_UseInvalidDocument": "Erreur : ce document n'est plus valide",
  "XtraRichEditStringId.Msg_UseInvalidDocumentEncryption": "Error: these document encryption settings are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidDocumentProperties": "Erreur : les propriétés de ce document ne sont plus valides",
  "XtraRichEditStringId.Msg_UseInvalidDocumentTrackChangesOptions": "Error: these document track changes options are no longer valid",
  "XtraRichEditStringId.Msg_UseInvalidParagraphProperties": "Erreur : Les propriétés de caractère ne sont plus valides",
  "XtraRichEditStringId.Msg_VariableDeletedOrMissed": "Error: document variable is either missing or deleted (from Variables collection)",
  "XtraRichEditStringId.Msg_WrongPasswordError": "Password check failed!",
  "XtraRichEditStringId.Msg_ZeroDivide": "Division par Zéro",
  "XtraRichEditStringId.MsgWinOnlyLimitation": "Cette action ne peut être effectuée que sur le système d'exploitation Windows.",
  "XtraRichEditStringId.No": "N",
  "XtraRichEditStringId.Page": "Page {2}: [{3}]",
  "XtraRichEditStringId.RtlComment": "[{1} {0}] Comment",
  "XtraRichEditStringId.SelectionCollection_AtLeastOneSelectionIsRequiredException": "Ne pouvez pas supprimer une sélection. Au moins une sélection est nécessaire.",
  "XtraRichEditStringId.SelectionCollection_CannotRemoveCaretException": "Ne pouvez pas supprimer le signe insertion.",
  "XtraRichEditStringId.SelectionCollection_CurrentSelectionAndSpecifiedSelectionIntersectException": "Sélection actuelle et la sélection spécifiée s'entrecroisent.",
  "XtraRichEditStringId.SelectionCollection_EmptyCollectionException": "Impossible d'ajouter une collection vide.",
  "XtraRichEditStringId.SelectionCollection_FirstCellContinuesVerticalMergeException": "La première cellule de la plage sélectionnée continue la fusion verticale, ce qui n'est pas autorisée dans une collection de sélection.",
  "XtraRichEditStringId.SelectionCollection_LastCellContinuesVerticalMergeException": "La dernière cellule de la plage sélectionnée continue la fusion verticale, ce qui n'est pas autorisée dans une collection de sélection.",
  "XtraRichEditStringId.SelectionCollection_OutOfRangeException": "Index était hors limites. Doit être non négatif et inférieur à la taille de la collection sélection.",
  "XtraRichEditStringId.SelectionCollection_PartiallySelectedCellsException": "Cellules partiellement sélectionnés ne sont pas autorisées.",
  "XtraRichEditStringId.SelectionCollection_RangeCannotBeEmptyException": "Plage ne peut pas être vide.",
  "XtraRichEditStringId.SelectionCollection_SelecitonShouldIncludeNotMoreThanOneRowException": "Une plage de sélection comprenne pas plus d'une ligne",
  "XtraRichEditStringId.SelectionCollection_SelectionCollectionEmptyException": "La collection sélection est vide.",
  "XtraRichEditStringId.SelectionCollection_SelectionExtendsOutsideTableException": "La sélection s'étend à l'extérieur de la table, alors la ligne entière doit être sélectionnée.",
  "XtraRichEditStringId.SelectionCollection_SelectionShouldContainAtLeastOneCharacterException": "La sélection doit contenir au moins un caractère.",
  "XtraRichEditStringId.SelectionCollection_SpecifiedSelectionsIntersectException": "Sélections précisés intersectent.",
  "XtraRichEditStringId.TabForm_All": "Tout",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentCenter": "Centre",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentInside": "Intérieur",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentLeft": "Gauche",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentOutside": "Extérieur",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionAlignmentRight": "Droite",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeColumn": "Colonne",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_HorizontalPositionTypePage": "Page",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentBottom": "Bas",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentCenter": "Centre",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentInside": "Intérieur",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentOutside": "Extérieur",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionAlignmentTop": "Haut",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeMargin": "Margin",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypePage": "Page",
  "XtraRichEditStringId.TablePositioningForm_VerticalPositionTypeParagraph": "Paragraphe",
  "XtraRichEditStringId.TargetFrameDescription_Blank": "Nouvelle fenêtre",
  "XtraRichEditStringId.TargetFrameDescription_Parent": "Cadre du parent",
  "XtraRichEditStringId.TargetFrameDescription_Self": "Le même cadre",
  "XtraRichEditStringId.TargetFrameDescription_Top": "Toute la page",
  "XtraRichEditStringId.UnderlineNone": "(aucun)",
  "XtraRichEditStringId.UserGroup_Administrators": "Administrateurs",
  "XtraRichEditStringId.UserGroup_Contributors": "Contributeurs",
  "XtraRichEditStringId.UserGroup_CurrentUser": "Utilisateur actuel",
  "XtraRichEditStringId.UserGroup_Editors": "Rédacteurs",
  "XtraRichEditStringId.UserGroup_Everyone": "Tout le monde",
  "XtraRichEditStringId.UserGroup_Owners": "Propriétaires",
  "XtraRichEditStringId.Yes": "Y",
  "RichEditExtensionsStringId.Caption_ColorAutomatic": "Automatique",
  "RichEditExtensionsStringId.Caption_Formatting": "Mise en page",
  "RichEditExtensionsStringId.Caption_GroupCaptions": "Légendes",
  "RichEditExtensionsStringId.Caption_GroupClipboard": "Presse-papier",
  "RichEditExtensionsStringId.Caption_GroupCommon": "Général",
  "RichEditExtensionsStringId.Caption_GroupDocumentComment": "Commentaire",
  "RichEditExtensionsStringId.Caption_GroupDocumentLanguage": "Langue",
  "RichEditExtensionsStringId.Caption_GroupDocumentProofing": "Vérification",
  "RichEditExtensionsStringId.Caption_GroupDocumentProtection": "Protéger",
  "RichEditExtensionsStringId.Caption_GroupDocumentTracking": "Suivi",
  "RichEditExtensionsStringId.Caption_GroupDocumentViews": "Affichages document",
  "RichEditExtensionsStringId.Caption_GroupEditing": "Modification",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsArrange": "Organiser",
  "RichEditExtensionsStringId.Caption_GroupFloatingPictureToolsShapeStyles": "Styles de forme",
  "RichEditExtensionsStringId.Caption_GroupFont": "Police",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooter": "Entête et pied de page",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignClose": "Fermer",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignNavigation": "Navigation",
  "RichEditExtensionsStringId.Caption_GroupHeaderFooterToolsDesignOptions": "Options",
  "RichEditExtensionsStringId.Caption_GroupIllustrations": "Images",
  "RichEditExtensionsStringId.Caption_GroupInfo": "Info",
  "RichEditExtensionsStringId.Caption_GroupLinks": "Liens",
  "RichEditExtensionsStringId.Caption_GroupMailMerge": "Champs de fusion",
  "RichEditExtensionsStringId.Caption_GroupNotes": "Footnotes",
  "RichEditExtensionsStringId.Caption_GroupPageBackground": "Arrière-plan de la page",
  "RichEditExtensionsStringId.Caption_GroupPages": "Pages",
  "RichEditExtensionsStringId.Caption_GroupPageSetup": "Mise en page",
  "RichEditExtensionsStringId.Caption_GroupParagraph": "Paragraphe",
  "RichEditExtensionsStringId.Caption_GroupShow": "Afficher",
  "RichEditExtensionsStringId.Caption_GroupStyles": "Styles",
  "RichEditExtensionsStringId.Caption_GroupSymbols": "Symboles",
  "RichEditExtensionsStringId.Caption_GroupTableOfContents": "Table des matières",
  "RichEditExtensionsStringId.Caption_GroupTables": "Tableaux",
  "RichEditExtensionsStringId.Caption_GroupText": "Texte",
  "RichEditExtensionsStringId.Caption_GroupZoom": "Zoom",
  "RichEditExtensionsStringId.Caption_NoColor": "Aucune couleur",
  "RichEditExtensionsStringId.Caption_NoFill": "Aucun remplissage",
  "RichEditExtensionsStringId.Caption_NoOutline": "Sans contour",
  "RichEditExtensionsStringId.Caption_PageCategoryFloatingPictureTools": "Outils Image",
  "RichEditExtensionsStringId.Caption_PageCategoryHeaderFooterTools": "Outils entête et pied de page",
  "RichEditExtensionsStringId.Caption_PageFile": "Fichier",
  "RichEditExtensionsStringId.Caption_PageFloatingObjectPictureToolsFormat": "Format",
  "RichEditExtensionsStringId.Caption_PageHeaderFooterToolsDesign": "Création",
  "RichEditExtensionsStringId.Caption_PageHome": "Accueil",
  "RichEditExtensionsStringId.Caption_PageInsert": "Insertion",
  "RichEditExtensionsStringId.Caption_PageLayout": "Disposition",
  "RichEditExtensionsStringId.Caption_PageMailings": "Publipostage",
  "RichEditExtensionsStringId.Caption_PagePageLayout": "Mise en page",
  "RichEditExtensionsStringId.Caption_PageReferences": "Références",
  "RichEditExtensionsStringId.Caption_PageReview": "Révision",
  "RichEditExtensionsStringId.Caption_PageView": "Vue",
  "ASPxRichEditStringId.Font": "Police",
  "ASPxRichEditStringId.FontStyle": "Style de police",
  "ASPxRichEditStringId.FontSize": "Taille de police",
  "ASPxRichEditStringId.FontColor": "Couleur de police",
  "ASPxRichEditStringId.UnderlineStyle": "Souligner le style",
  "ASPxRichEditStringId.UnderlineColor": "Souligner la couleur",
  "ASPxRichEditStringId.Effects": "Effet",
  "ASPxRichEditStringId.AllCaps": "All caps",
  "ASPxRichEditStringId.Hidden": "Caché",
  "ASPxRichEditStringId.Normal": "Normal",
  "ASPxRichEditStringId.Bold": "Gras",
  "ASPxRichEditStringId.Italic": "Italique",
  "ASPxRichEditStringId.BoldItalic": "GrasItalique",
  "ASPxRichEditStringId.UnderlineWordsOnly": "Souligner les mots seulement",
  "ASPxRichEditStringId.UnderlineType_None": "Aucun",
  "ASPxRichEditStringId.UnderlineType_Single": "Unique",
  "ASPxRichEditStringId.UnderlineType_Dotted": "Pointillé",
  "ASPxRichEditStringId.UnderlineType_Dashed": "Tirets",
  "ASPxRichEditStringId.UnderlineType_DashDotted": "Tableau de bord pointillé",
  "ASPxRichEditStringId.UnderlineType_DashDotDotted": "Dash Dot Dotted",
  "ASPxRichEditStringId.UnderlineType_Double": "Double",
  "ASPxRichEditStringId.UnderlineType_HeavyWave": "Vague lourde",
  "ASPxRichEditStringId.UnderlineType_LongDashed": "Tirets longs",
  "ASPxRichEditStringId.UnderlineType_ThickSingle": "Simple épaisseur",
  "ASPxRichEditStringId.UnderlineType_ThickDotted": "Pointillés épais",
  "ASPxRichEditStringId.UnderlineType_ThickDashed": "Tirets épais",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotted": "Tableau de bord épais pointillé",
  "ASPxRichEditStringId.UnderlineType_ThickDashDotDotted": "Dot Dash épaisse noire pointée",
  "ASPxRichEditStringId.UnderlineType_ThickLongDashed": "Thick Long Dashed",
  "ASPxRichEditStringId.UnderlineType_DoubleWave": "Double vague",
  "ASPxRichEditStringId.UnderlineType_Wave": "Vague",
  "ASPxRichEditStringId.UnderlineType_DashSmallGap": "Tableau de bord peu espacés",
  "ASPxRichEditStringId.StrikeoutType_None": "Aucun",
  "ASPxRichEditStringId.StrikeoutType_Single": "Unique",
  "ASPxRichEditStringId.StrikeoutType_Double": "Double",
  "ASPxRichEditStringId.CharacterFormattingScript_Normal": "Normal",
  "ASPxRichEditStringId.CharacterFormattingScript_Subscript": "Indice",
  "ASPxRichEditStringId.CharacterFormattingScript_Superscript": "Exposant",
  "ASPxRichEditStringId.ParagraphTab0": "Retraits et espacement",
  "ASPxRichEditStringId.ParagraphTab1": "Line And Page Breaks",
  "ASPxRichEditStringId.General": "Général",
  "ASPxRichEditStringId.Alignment": "Alignement",
  "ASPxRichEditStringId.Left": "Gauche",
  "ASPxRichEditStringId.Right": "Droite",
  "ASPxRichEditStringId.Centered": "Centré",
  "ASPxRichEditStringId.Justified": "Justifié",
  "ASPxRichEditStringId.OutlineLevel": "Niveau hiérarchique",
  "ASPxRichEditStringId.BodyText": "Corps du texte",
  "ASPxRichEditStringId.Level": "Niveau",
  "ASPxRichEditStringId.Indentation": "Indentation",
  "ASPxRichEditStringId.Special": "Spécial",
  "ASPxRichEditStringId.By": "Par",
  "ASPxRichEditStringId.none": "(aucun)",
  "ASPxRichEditStringId.FirstLine": "Première ligne",
  "ASPxRichEditStringId.Hanging": "Suspendus",
  "ASPxRichEditStringId.Spacing": "Espacement",
  "ASPxRichEditStringId.Before": "Avant",
  "ASPxRichEditStringId.LineSpacing": "Espacement des lignes",
  "ASPxRichEditStringId.At": "À",
  "ASPxRichEditStringId.After": "Après",
  "ASPxRichEditStringId.Single": "Unique",
  "ASPxRichEditStringId.spacing_1_5_lines": "1,5 ligne",
  "ASPxRichEditStringId.Double": "Double",
  "ASPxRichEditStringId.Multiple": "Multiples",
  "ASPxRichEditStringId.Exactly": "Exactement",
  "ASPxRichEditStringId.AtLeast": "Au moins",
  "ASPxRichEditStringId.NoSpace": "Don't add space between paragraph of the same style",
  "ASPxRichEditStringId.Pagination": "Pagination",
  "ASPxRichEditStringId.KLT": "Lignes solidaires",
  "ASPxRichEditStringId.PBB": "Saut de page avant",
  "ASPxRichEditStringId.Options": "Options",
  "ASPxRichEditStringId.Preview": "Prévisualisation",
  "ASPxRichEditStringId.Style": "Style",
  "ASPxRichEditStringId.Color": "Couleur",
  "ASPxRichEditStringId.SaveToServer": "Enregistrez le fichier sur le serveur",
  "ASPxRichEditStringId.DownloadCopy": "Télécharger une copie",
  "ASPxRichEditStringId.FolderPath": "Chemin du dossier",
  "ASPxRichEditStringId.FileType": "Type de fichier",
  "ASPxRichEditStringId.FileName": "Nom de fichier",
  "ASPxRichEditStringId.ChooseType": "Choisissez le type du fichier à télécharger",
  "ASPxRichEditStringId.SaveFileAs": "Enregistrez le fichier en tant que",
  "ASPxRichEditStringId.Invalid_FileName": "Nom de fichier invalide",
  "ASPxRichEditStringId.PathDoesNotExist": "Path does not exist.\nCheck the path and try again.",
  "ASPxRichEditStringId.Portrait": "Portrait",
  "ASPxRichEditStringId.Landscape": "Paysage",
  "ASPxRichEditStringId.Continuous": "Continu",
  "ASPxRichEditStringId.NewPage": "Nouvelle page",
  "ASPxRichEditStringId.EvenPage": "Page paire",
  "ASPxRichEditStringId.OddPage": "Page impaire",
  "ASPxRichEditStringId.WholeDocument": "Document entier",
  "ASPxRichEditStringId.CurrentSection": "Section en cours",
  "ASPxRichEditStringId.SelectedSections": "Sections sélectionnées",
  "ASPxRichEditStringId.ThisPointForward": "Après ce point",
  "ASPxRichEditStringId.Margins": "Marges",
  "ASPxRichEditStringId.Paper": "Papier",
  "ASPxRichEditStringId.Layout": "Mise en page",
  "ASPxRichEditStringId.Top": "Haut",
  "ASPxRichEditStringId.Bottom": "Bas",
  "ASPxRichEditStringId.Orientation": "Orientation",
  "ASPxRichEditStringId.PaperSize": "Format de papier",
  "ASPxRichEditStringId.Width": "Largeur",
  "ASPxRichEditStringId.Height": "Hauteur",
  "ASPxRichEditStringId.Section": "Section",
  "ASPxRichEditStringId.SectionStart": "Début de section",
  "ASPxRichEditStringId.HeadersAndFooters": "En-têtes et pieds de page",
  "ASPxRichEditStringId.DifferentOddAndEven": "Different odd and even",
  "ASPxRichEditStringId.DifferentFirstPage": "Autre première page",
  "ASPxRichEditStringId.ApplyTo": "Appliquer à",
  "ASPxRichEditStringId.FromEdge": "Du bord",
  "ASPxRichEditStringId.Header": "Entête",
  "ASPxRichEditStringId.Footer": "Pied de page",
  "ASPxRichEditStringId.CancelButton": "Annuler",
  "ASPxRichEditStringId.OkButton": "OK",
  "ASPxRichEditStringId.OpenButton": "Ouvert",
  "ASPxRichEditStringId.SaveAsButton": "Enregistrer",
  "ASPxRichEditStringId.DownloadButton": "Télécharger",
  "ASPxRichEditStringId.SelectButton": "Sélectionner",
  "ASPxRichEditStringId.InsertButton": "Insérer",
  "ASPxRichEditStringId.ChangeButton": "Changement",
  "ASPxRichEditStringId.CloseButton": "Fermer",
  "ASPxRichEditStringId.InsertTable_TableSize": "Taille de la table",
  "ASPxRichEditStringId.InsertTable_NumberOfColumns": "Nombre de colonnes",
  "ASPxRichEditStringId.InsertTable_NumberOfRows": "Nombre de lignes",
  "ASPxRichEditStringId.SplitCells_MergeCells": "Fusionner les cellules avant division",
  "ASPxRichEditStringId.InsertCells_ShiftCellsRight": "Déplacer les cellules vers la droite",
  "ASPxRichEditStringId.InsertCells_ShiftCellsDown": "Déplacer les cellules vers le bas",
  "ASPxRichEditStringId.InsertCells_InsertEntireRow": "Insérer une ligne entière",
  "ASPxRichEditStringId.InsertCells_InsertEntireColumn": "Insérer une colonne entière",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsLeft": "Décaler les cellules à gauche",
  "ASPxRichEditStringId.DeleteCells_ShiftCellsUp": "Déplacer les cellules vers le haut",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireRow": "Supprimer la ligne entière",
  "ASPxRichEditStringId.DeleteCells_DeleteEntireColumn": "Supprimer la colonne entière",
  "ASPxRichEditStringId.InsertImage_FromWeb": "Depuis le web (URL)",
  "ASPxRichEditStringId.InsertImage_FromLocal": "Depuis votre ordinateur",
  "ASPxRichEditStringId.InsertImage_EnterUrl": "Enter image web address",
  "ASPxRichEditStringId.InsertImage_UploadInstructions": "Browse your computer for the image file to upload",
  "ASPxRichEditStringId.InsertImage_ImagePreview": "Aperçu de l'image",
  "ASPxRichEditStringId.TableProperties_Size": "Taille",
  "ASPxRichEditStringId.TableProperties_Alignment": "Alignement",
  "ASPxRichEditStringId.TableProperties_VerticalAlignment": "Alignement vertical",
  "ASPxRichEditStringId.TableProperties_MeasureIn": "Mesure en",
  "ASPxRichEditStringId.TableProperties_PreferredWidth": "Largeur préférée",
  "ASPxRichEditStringId.TableProperties_IndentLeft": "Retrait à gauche",
  "ASPxRichEditStringId.TableProperties_SpecifyHeight": "Précisez hauteur",
  "ASPxRichEditStringId.TableProperties_RowHeight": "Hauteur de ligne est",
  "ASPxRichEditStringId.TableProperties_Table": "Tableau",
  "ASPxRichEditStringId.TableProperties_Row": "Ligne",
  "ASPxRichEditStringId.TableProperties_Column": "Colonne",
  "ASPxRichEditStringId.TableProperties_Cell": "Cellule",
  "ASPxRichEditStringId.TableProperties_Options": "Options...",
  "ASPxRichEditStringId.TableProperties_BordersAndShading": "Bordure et trame...",
  "ASPxRichEditStringId.TableProperties_PreviousRow": "Ligne précédente",
  "ASPxRichEditStringId.TableProperties_NextRow": "Ligne suivante",
  "ASPxRichEditStringId.TableProperties_PreviousColumn": "Colonne précédente",
  "ASPxRichEditStringId.TableProperties_NextColumn": "Colonne suivante",
  "ASPxRichEditStringId.TableProperties_CantSplit": "Autoriser le fractionnement sur plusieurs pages des lignes",
  "ASPxRichEditStringId.TableOptions_DefaultCellMargins": "Marges de cellule par défaut",
  "ASPxRichEditStringId.TableOptions_DefaultCellSpacing": "Espacement entre les cellules par défaut",
  "ASPxRichEditStringId.TableOptions_AllowSpacing": "Autoriser l'espacement entre les cellules",
  "ASPxRichEditStringId.TableOptions_AutoResize": "Redimensionner automatiquement pour ajuster au contenu",
  "ASPxRichEditStringId.BorderShading_Borders": "Bordures",
  "ASPxRichEditStringId.BorderShading_Shading": "Ombrage",
  "ASPxRichEditStringId.BorderShading_Fill": "Remplissage",
  "ASPxRichEditStringId.BorderShading_BordersDescription": "Cliquez sur le diagramme ci-dessous ou utilisez les boutons pour appliquer des bordures",
  "ASPxRichEditStringId.BorderShading_BordersNone": "Aucun",
  "ASPxRichEditStringId.BorderShading_BordersBox": "Boîte",
  "ASPxRichEditStringId.BorderShading_BordersAll": "Tout",
  "ASPxRichEditStringId.BorderShading_BordersGrid": "Grille",
  "ASPxRichEditStringId.BorderShading_BordersCustom": "Personnalisé",
  "ASPxRichEditStringId.CellOptions_CellMargins": "Marges de cellule",
  "ASPxRichEditStringId.CellOptions_SameAsTable": "Identique à l'ensemble de la table",
  "ASPxRichEditStringId.CellOptions_WrapText": "Envelopper le texte",
  "ASPxRichEditStringId.Columns_Presets": "Presets",
  "ASPxRichEditStringId.Columns_NumberOfColumns": "Nombre de colonnes",
  "ASPxRichEditStringId.Columns_WidthAndSpacing": "Largeur et espacement",
  "ASPxRichEditStringId.Columns_EqualWidth": "Largeur de colonne égale",
  "ASPxRichEditStringId.Columns_Col": "Col #:",
  "ASPxRichEditStringId.Columns_Width": "Largeur",
  "ASPxRichEditStringId.Columns_Spacing": "Espacement",
  "ASPxRichEditStringId.PageFile": "Fichier",
  "ASPxRichEditStringId.PageHome": "Accueil",
  "ASPxRichEditStringId.PageInsert": "Insérer",
  "ASPxRichEditStringId.PagePageLayout": "Mise en page",
  "ASPxRichEditStringId.PageReferences": "Références",
  "ASPxRichEditStringId.PageMailings": "Fusion et publipostage",
  "ASPxRichEditStringId.PageReview": "Review",
  "ASPxRichEditStringId.PageView": "Vue",
  "ASPxRichEditStringId.PageHeaderAndFooter": "En-tête et pied de page",
  "ASPxRichEditStringId.PageTableDesign": "Création",
  "ASPxRichEditStringId.PageTableLayout": "Mise en page",
  "ASPxRichEditStringId.PageFloatingObjects": "Format",
  "ASPxRichEditStringId.GroupUndo": "Annuler",
  "ASPxRichEditStringId.GroupUndoClipboard": "Undo/Clipboard",
  "ASPxRichEditStringId.GroupFont": "Police",
  "ASPxRichEditStringId.GroupParagraph": "Paragraphe",
  "ASPxRichEditStringId.GroupClipboard": "Presse-papier",
  "ASPxRichEditStringId.GroupEditing": "Édition",
  "ASPxRichEditStringId.GroupCommon": "Commun",
  "ASPxRichEditStringId.GroupStyles": "Styles",
  "ASPxRichEditStringId.GroupZoom": "Zoom",
  "ASPxRichEditStringId.GroupShow": "Afficher",
  "ASPxRichEditStringId.GroupIllustrations": "Illustrations",
  "ASPxRichEditStringId.GroupText": "Texte",
  "ASPxRichEditStringId.GroupTables": "Tables",
  "ASPxRichEditStringId.GroupSymbols": "Symboles",
  "ASPxRichEditStringId.GroupLinks": "Liens",
  "ASPxRichEditStringId.GroupPages": "Pages",
  "ASPxRichEditStringId.GroupHeaderFooter": "En-tête && pied de page",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignClose": "Fermer",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignNavigation": "Navigation",
  "ASPxRichEditStringId.GroupMailMerge": "Fusion et publipostage",
  "ASPxRichEditStringId.GroupInsertFields": "Insérer des champs",
  "ASPxRichEditStringId.GroupMailMergeView": "Vue",
  "ASPxRichEditStringId.GroupCurrentRecord": "Enregistrement en cours",
  "ASPxRichEditStringId.GroupFinish": "Terminer",
  "ASPxRichEditStringId.GroupDocumentViews": "Vues du document",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignOptions": "Options",
  "ASPxRichEditStringId.GroupHeaderFooterToolsDesignPosition": "Position",
  "ASPxRichEditStringId.GroupPageSetup": "Mise en page",
  "ASPxRichEditStringId.GroupDocumentProtection": "Protéger",
  "ASPxRichEditStringId.GroupDocumentProofing": "Vérification",
  "ASPxRichEditStringId.GroupDocumentComment": "Commentaire",
  "ASPxRichEditStringId.GroupDocumentTracking": "Suivi",
  "ASPxRichEditStringId.GroupTableOfContents": "Table des matières",
  "ASPxRichEditStringId.GroupFloatingPictureToolsArrange": "Organiser",
  "ASPxRichEditStringId.GroupFloatingPictureToolsShapeStyles": "Styles de forme",
  "ASPxRichEditStringId.GroupCaptions": "Libellés",
  "ASPxRichEditStringId.GroupPageBackground": "Arrière-plan",
  "ASPxRichEditStringId.GroupDocumentLanguage": "Langue",
  "ASPxRichEditStringId.GroupView": "Vue",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyleOptions": "Options de Style de tableau",
  "ASPxRichEditStringId.GroupTableToolsDesignTableStyles": "Styles de tableau",
  "ASPxRichEditStringId.GroupTableToolsDesignBordersAndShadings": "Bordures & nuances",
  "ASPxRichEditStringId.GroupTableToolsLayoutTable": "Tableau",
  "ASPxRichEditStringId.GroupTableToolsLayoutRowsAndColumns": "Lignes & colonnes",
  "ASPxRichEditStringId.GroupTableToolsLayoutMerge": "Fusionner",
  "ASPxRichEditStringId.GroupTableToolsLayoutCellSize": "Taille des cellules",
  "ASPxRichEditStringId.GroupTableToolsLayoutAlignment": "Alignement",
  "ASPxRichEditStringId.GroupFloatingObjectsShapeStyles": "Styles de forme",
  "ASPxRichEditStringId.GroupFloatingObjectsArrange": "Organiser",
  "ASPxRichEditStringId.RequiredFieldError": "Ce champ est obligatoire",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreen": "Plein écran",
  "ASPxRichEditStringId.MenuCmd_ToggleFullScreenDescription": "Activer / désactiver le mode plein écran.",
  "ASPxRichEditStringId.SaveAsFileTitle": "Enregistrer sous",
  "ASPxRichEditStringId.OpenFileTitle": "Ouvert",
  "ASPxRichEditStringId.FontTitle": "Police",
  "ASPxRichEditStringId.ParagraphTitle": "Paragraphe",
  "ASPxRichEditStringId.PageSetupTitle": "Mise en page",
  "ASPxRichEditStringId.ColumnsTitle": "Colonnes",
  "ASPxRichEditStringId.InsertTableTitle": "Insérer un tableau",
  "ASPxRichEditStringId.InsertTableCellsTitle": "Insérer des cellules",
  "ASPxRichEditStringId.DeleteTableCellsTitle": "Supprimer des cellules",
  "ASPxRichEditStringId.SplitTableCellsTitle": "Fractionner les cellules",
  "ASPxRichEditStringId.TablePropertiesTitle": "Propriétés du tableau",
  "ASPxRichEditStringId.BorderShadingTitle": "Bordure et trame",
  "ASPxRichEditStringId.InsertMergeFieldTitle": "Insérer champ de fusion",
  "ASPxRichEditStringId.ExportRangeTitle": "Étendue de l'exportation",
  "ASPxRichEditStringId.BookmarkTitle": "Signet",
  "ASPxRichEditStringId.FindReplaceTitle": "Rechercher et remplacer",
  "ASPxRichEditStringId.InsertImageTitle": "Insertion d'image",
  "ASPxRichEditStringId.ErrorTitle": "Erreur",
  "ASPxRichEditStringId.SpellingTitle": "Correcteur orthographique",
  "ASPxRichEditStringId.InformationTitle": "Information",
  "ASPxRichEditStringId.WarningTitle": "Mise en garde",
  "ASPxRichEditStringId.RulerMarginLeftTitle": "Marge gauche",
  "ASPxRichEditStringId.RulerMarginRightTitle": "Marge droite",
  "ASPxRichEditStringId.RulerFirstLineIdentTitle": "Ident de première ligne",
  "ASPxRichEditStringId.RulerHangingIdentTitle": "",
  "ASPxRichEditStringId.RulerRightIdentTitle": "Identation droite",
  "ASPxRichEditStringId.RulerLeftIdentTitle": "Identation gauche",
  "ASPxRichEditStringId.RulerFirstLineIndentTitle": "First Line Indent",
  "ASPxRichEditStringId.RulerHangingIndentTitle": "Hanging Indent",
  "ASPxRichEditStringId.RulerRightIndentTitle": "Right Indent",
  "ASPxRichEditStringId.RulerLeftIndentTitle": "Left Indent",
  "ASPxRichEditStringId.RulerLeftTabTitle": "Onglet à gauche",
  "ASPxRichEditStringId.RulerRightTabTitle": "Onglet de droite",
  "ASPxRichEditStringId.RulerCenterTabTitle": "Languette centrale",
  "ASPxRichEditStringId.RulerDecimalTabTitle": "Titre décimal",
  "ASPxRichEditStringId.MarginsNarrow": "Étroit",
  "ASPxRichEditStringId.MarginsNormal": "Normal",
  "ASPxRichEditStringId.MarginsModerate": "Modérée",
  "ASPxRichEditStringId.MarginsWide": "Large",
  "ASPxRichEditStringId.ModelIsChangedError": "The document has been modified outside the editor and needs to be reloaded. <br />Your last-minute changes might not be preserved, if any.",
  "ASPxRichEditStringId.SessionHasExpiredError": "Votre session a expiré. <br />Veuillez actualiser la page pour continuer.",
  "ASPxRichEditStringId.OpeningAndOverstoreImpossibleError": "L'ouvrir et enregistrer le document, les opérations sont interdites < br / > étant donné que le répertoire de travail n'est pas spécifié pour l'éditeur de.",
  "ASPxRichEditStringId.ClipboardAccessDeniedError": "Access to the clipboard is denied due to your browser's security policy. <br />Instead, you can use the keyboard shortcuts:<br />{0}+X (cut), {0}+C (copy) and {0}+V (paste).",
  "ASPxRichEditStringId.ClipboardAccessDeniedErrorTouch": "Accès au Presse-papiers est refusé en raison de la politique de sécurité de votre navigateur. Au lieu de cela, utilisez le menu indigène qui peut être invoqué en tapant et en tenant le contenu sélectionné.",
  "ASPxRichEditStringId.InnerExceptionsError": "Une erreur non spécifiée s'est produite et l'éditeur doit être rechargée. Vos dernières modifications peuvent être perdues.",
  "ASPxRichEditStringId.AuthExceptionsError": "Accès au document est restreinte et l'éditeur doit être rechargée. Vos dernières modifications peuvent être perdues.",
  "ASPxRichEditStringId.CantSaveToEmptyPathError": "Impossible d’enregistrer un document n'ouvert pas partir d’un fichier. Gérer l’économie événement pour traiter l’enregistrement personnalisé",
  "ASPxRichEditStringId.ConfirmOnLosingChanges": "Etes-vous sûr de vouloir effectuer cette action ? Toutes les données non enregistrées seront perdues.",
  "ASPxRichEditStringId.RestartNumbering": "Recommencer la numérotation",
  "ASPxRichEditStringId.ContinueNumbering": "Continuer la numérotation",
  "ASPxRichEditStringId.UpdateField": "Mise à jour de champ",
  "ASPxRichEditStringId.ToggleFieldCodes": "Basculer les Codes de champ",
  "ASPxRichEditStringId.OpenHyperlink": "Ouvrir lien hypertexte",
  "ASPxRichEditStringId.EditHyperlink": "Modifier le lien hypertexte...",
  "ASPxRichEditStringId.RemoveHyperlink": "Supprimer le lien hypertexte",
  "ASPxRichEditStringId.CantOpenDocumentError": "Le document n'a pas pu être ouvert parce qu'une erreur de serveur s'est produite.",
  "ASPxRichEditStringId.CantSaveDocumentError": "Le document n'a pas pu être enregistré parce qu'une erreur de serveur s'est produite.",
  "ASPxRichEditStringId.DocVariableExceptionError": "Le champ DOCVARIABLE n'a pu être calculé car une erreur serveur s'est produite.",
  "ASPxRichEditStringId.InvalidDocumentFormatError": "Le fichier est corrompu et ne peut pas être ouvert.",
  "ASPxRichEditStringId.InsertContentFromServerExceptionError": "The InsertContentFromServerCommand could not be executed because a server error occurred.",
  "ASPxRichEditStringId.LoadPictureError": "Could not load the image.",
  "ASPxRichEditStringId.MenuCmd_CreateField": "Créer le champ",
  "ASPxRichEditStringId.MenuCmd_CreateFieldDescription": "Créer un élément dynamique utilisé comme espace réservé pour les données susceptibles de changer dans un document.",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFields": "Mettre à jour tous les champs",
  "ASPxRichEditStringId.MenuCmd_UpdateAllFieldsDescription": "Actualiser tous les éléments du document dynamiques en obtenant les dernières données de la source.",
  "ASPxRichEditStringId.ParagraphStyles": "Styles de paragraphe",
  "ASPxRichEditStringId.CharacterStyles": "Styles de caractère",
  "ASPxRichEditStringId.BulletedAndNumberingTitle": "Puces et numérotation",
  "ASPxRichEditStringId.CustomizeNumberedListTitle": "Personnaliser la liste numérotée",
  "ASPxRichEditStringId.CustomizeBulletedListTitle": "Personnaliser la liste à puces",
  "ASPxRichEditStringId.CustomizeOutlineNumberedTitle": "Personnaliser la liste plan",
  "ASPxRichEditStringId.HyperlinkTitle": "Lien hypertexte",
  "ASPxRichEditStringId.TabsTitle": "Tabulations",
  "ASPxRichEditStringId.SymbolsTitle": "Symboles",
  "ASPxRichEditStringId.OtherLabels_None": "aucun",
  "ASPxRichEditStringId.OtherLabels_All": "Tout",
  "ASPxRichEditStringId.OtherLabels_ConfirmToRewriteExistingFile": "existe déjà. Voulez-vous le remplacer?",
  "ASPxRichEditStringId.Numbering_Character": "Personnage...",
  "ASPxRichEditStringId.Numbering_Font": "Police...",
  "ASPxRichEditStringId.Numbering_BulletCharacter": "Puce",
  "ASPxRichEditStringId.Numbering_BulletPosition": "Position de la balle",
  "ASPxRichEditStringId.Numbering_TextPosition": "Position du texte",
  "ASPxRichEditStringId.Numbering_AlignedAt": "Aligné à",
  "ASPxRichEditStringId.Numbering_IndentAt": "Tiret à",
  "ASPxRichEditStringId.Numbering_StartAt": "Commencer à",
  "ASPxRichEditStringId.Numbering_NumberFormat": "Format de nombre",
  "ASPxRichEditStringId.Numbering_NumberStyle": "Numéro de style",
  "ASPxRichEditStringId.Numbering_NumberPosition": "Numéro de poste",
  "ASPxRichEditStringId.Numbering_Left": "Gauche",
  "ASPxRichEditStringId.Numbering_Center": "Centre",
  "ASPxRichEditStringId.Numbering_Right": "Droite",
  "ASPxRichEditStringId.Numbering_FollowNumberWith": "Suivez le nombre avec",
  "ASPxRichEditStringId.Numbering_Level": "Niveau",
  "ASPxRichEditStringId.Numbering_TabCharacter": "Caractère de tabulation",
  "ASPxRichEditStringId.Numbering_Space": "Espace",
  "ASPxRichEditStringId.Numbering_Nothing": "Rien",
  "ASPxRichEditStringId.Numbering_Customize": "Personnaliser...",
  "ASPxRichEditStringId.Numbering_Bulleted": "À puces",
  "ASPxRichEditStringId.Numbering_Numbered": "Numérotée",
  "ASPxRichEditStringId.Numbering_OutlineNumbered": "Hiérarchisation",
  "ASPxRichEditStringId.Hyperlink_EmailAddress": "Adresse de messagerie",
  "ASPxRichEditStringId.Hyperlink_Url": "URL",
  "ASPxRichEditStringId.Hyperlink_Bookmark": "Signet",
  "ASPxRichEditStringId.Hyperlink_WebPage": "Web page",
  "ASPxRichEditStringId.Hyperlink_PlaceInThisDocument": "Place dans le présent Document",
  "ASPxRichEditStringId.Hyperlink_EmailTo": "Courrier électronique à",
  "ASPxRichEditStringId.Hyperlink_Subject": "Sujet",
  "ASPxRichEditStringId.Hyperlink_DisplayProperties": "DisplayProperties",
  "ASPxRichEditStringId.Hyperlink_Text": "Texte",
  "ASPxRichEditStringId.Hyperlink_ToolTip": "Info-bulle",
  "ASPxRichEditStringId.Hyperlink_InvalidEmail": "Courriel non valide",
  "ASPxRichEditStringId.Tabs_Set": "La valeur",
  "ASPxRichEditStringId.Tabs_Clear": "Effacer",
  "ASPxRichEditStringId.Tabs_ClearAll": "Effacer tout",
  "ASPxRichEditStringId.Tabs_TabStopPosition": "Position du taquet",
  "ASPxRichEditStringId.Tabs_DefaultTabStops": "Taquets par défaut",
  "ASPxRichEditStringId.Tabs_TabStopsToBeCleared": "Des taquets de tabulation pour être effacée",
  "ASPxRichEditStringId.Tabs_Alignment": "Alignement",
  "ASPxRichEditStringId.Tabs_Leader": "Points de suite",
  "ASPxRichEditStringId.Tabs_Left": "Gauche",
  "ASPxRichEditStringId.Tabs_Center": "Centre",
  "ASPxRichEditStringId.Tabs_Right": "Droite",
  "ASPxRichEditStringId.Tabs_Decimal": "Décimal",
  "ASPxRichEditStringId.Tabs_None": "Aucun",
  "ASPxRichEditStringId.Tabs_Hyphens": "Hyphens",
  "ASPxRichEditStringId.Tabs_EqualSign": "Signe égal",
  "ASPxRichEditStringId.Tabs_Dots": "Points",
  "ASPxRichEditStringId.Tabs_Underline": "Souligner",
  "ASPxRichEditStringId.Tabs_MiddleDots": "Points de moyenne",
  "ASPxRichEditStringId.Tabs_ThickLine": "Ligne épaisse",
  "ASPxRichEditStringId.FinishMerge_From": "De",
  "ASPxRichEditStringId.FinishMerge_Count": "Nbre",
  "ASPxRichEditStringId.FinishMerge_MergeMode": "Mode de fusion",
  "ASPxRichEditStringId.FinishMerge_AllRecords": "Tous les enregistrements",
  "ASPxRichEditStringId.FinishMerge_CurrentRecord": "Enregistrement en cours",
  "ASPxRichEditStringId.FinishMerge_Range": "Gamme",
  "ASPxRichEditStringId.FinishMerge_NewParagraph": "Nouveau paragraphe",
  "ASPxRichEditStringId.FinishMerge_NewSection": "Nouvelle section",
  "ASPxRichEditStringId.FinishMerge_JoinTables": "Join Tables",
  "ASPxRichEditStringId.InsertMergeField_Fields": "Champs",
  "ASPxRichEditStringId.Bookmarks_BookmarkName": "Nom du signet",
  "ASPxRichEditStringId.Bookmarks_SortBy": "Trier par",
  "ASPxRichEditStringId.Bookmarks_Name": "Nom",
  "ASPxRichEditStringId.Bookmarks_Location": "Emplacement",
  "ASPxRichEditStringId.Bookmarks_Add": "Ajouter",
  "ASPxRichEditStringId.Bookmarks_Delete": "Supprimer",
  "ASPxRichEditStringId.Bookmarks_GoTo": "Aller à",
  "ASPxRichEditStringId.Bookmarks_NameErrorText": "Les noms de signet doivent commencer par une lettre",
  "ASPxRichEditStringId.FindReplace_Find": "Trouver",
  "ASPxRichEditStringId.FindReplace_AdvancedFind": "Trouver des options avancées",
  "ASPxRichEditStringId.FindReplace_Replace": "Remplacer",
  "ASPxRichEditStringId.FindReplace_ReplaceAll": "Remplacer tout",
  "ASPxRichEditStringId.FindReplace_ReplaceWith": "remplacer par",
  "ASPxRichEditStringId.FindReplace_Previous": "Précédent",
  "ASPxRichEditStringId.FindReplace_Next": "Suivant",
  "ASPxRichEditStringId.FindReplace_MatchCase": "Respecter la casse",
  "ASPxRichEditStringId.FindReplace_Results": "Résultats",
  "ASPxRichEditStringId.FindReplace_NoResult": "Nous ne pouvions pas trouver ce que vous cherchiez dédiée",
  "ASPxRichEditStringId.FindReplace_TooLongResult": "le résultat est trop long. Consultez les pages pour consulter vos résultats en texte.",
  "ASPxRichEditStringId.FindReplace_ReplaceAllNotify": "{0} entrées ont été remplacées",
  "ASPxRichEditStringId.FindReplace_Items": "Éléments",
  "ASPxRichEditStringId.FindReplace_NoMatches": "Aucune correspondance",
  "ASPxRichEditStringId.FindReplace_Of": "de",
  "ASPxRichEditStringId.SpellingCheckCompletedInformation": "La vérification de l'orthographe est terminée.",
  "ASPxRichEditStringId.Spelling_IgnoreOnce": "Ignorer une fois",
  "ASPxRichEditStringId.Spelling_IgnoreAll": "Ignorer tout",
  "ASPxRichEditStringId.Spelling_AddToDictionary": "Ajouter au dictionnaire",
  "ASPxRichEditStringId.Spelling_Delete": "Supprimer",
  "ASPxRichEditStringId.Spelling_Change": "Changement",
  "ASPxRichEditStringId.Spelling_ChangeAll": "Changer toutes les",
  "ASPxRichEditStringId.Spelling_NotInDictionary": "Pas dans le dictionnaire :",
  "ASPxRichEditStringId.Spelling_RepeatedWord": "Répété mot :",
  "ASPxRichEditStringId.Spelling_Suggestions": "Suggestions :",
  "ASPxRichEditStringId.Spelling_NoSpellingSuggestions": "(aucune suggestion)",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCase": "Phrase cas.",
  "ASPxRichEditStringId.MenuCmd_MakeTextSentenceCaseDescription": "Phrase cas.",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsForm": "Marges de cellule",
  "ASPxRichEditStringId.MenuCmd_ShowCellOptionsFormDescription": "Personnaliser les marges de cellule",
  "ASPxRichEditStringId.MenuCmd_HeaderOffset": "En-tête du haut :",
  "ASPxRichEditStringId.MenuCmd_FooterOffset": "Pied de bas de page :",
  "ASPxRichEditStringId.MenuCmd_HeaderOffsetDescription": "Spécifier la distance entre le haut de la page vers le haut de l’en-tête.",
  "ASPxRichEditStringId.MenuCmd_FooterOffsetDescription": "Spécifier la distance entre le bas de la page vers le bas du pied de page.",
  "ASPxRichEditStringId.LayoutOptions_Inline": "Aligné sur le texte",
  "ASPxRichEditStringId.LayoutOptions_LockAnchor": "Verrouiller l'ancre",
  "ASPxRichEditStringId.LayoutOptions_LockAspectRatio": "Verrouiller les proportions",
  "ASPxRichEditStringId.LayoutOptions_Reset": "Réinitialiser",
  "ASPxRichEditStringId.LayoutOptions_BothSides": "Les deux côtés",
  "ASPxRichEditStringId.LayoutOptions_LeftOnly": "Left only",
  "ASPxRichEditStringId.LayoutOptions_RightOnly": "Right only",
  "ASPxRichEditStringId.LayoutOptions_LargestOnly": "Seulement le plus grand",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentInside": "Intérieur",
  "ASPxRichEditStringId.LayoutOptions_HorizontalPositionAlignmentOutside": "Extérieur",
  "ASPxRichEditStringId.LayoutOptions_Position": "Position",
  "ASPxRichEditStringId.LayoutOptions_Horizontal": "Horizontal",
  "ASPxRichEditStringId.LayoutOptions_Vertical": "Vertical",
  "ASPxRichEditStringId.LayoutOptions_RelativeTo": "relatif à",
  "ASPxRichEditStringId.LayoutOptions_HorizontalBookLayoutOf": "de",
  "ASPxRichEditStringId.LayoutOptions_AbsolutePosition": "Position absolue",
  "ASPxRichEditStringId.LayoutOptions_RelativePosition": "Position relative",
  "ASPxRichEditStringId.LayoutOptions_Alignment": "Alignement",
  "ASPxRichEditStringId.LayoutOptions_BookLayout": "Mise en page livre",
  "ASPxRichEditStringId.LayoutOptions_ToTheRightOf": "à droite de",
  "ASPxRichEditStringId.LayoutOptions_Below": "below",
  "ASPxRichEditStringId.LayoutOptions_TextWrapping": "Text Wrapping",
  "ASPxRichEditStringId.LayoutOptions_WrappingStyle": "Style d’habillage",
  "ASPxRichEditStringId.LayoutOptions_WrapText": "Wrap text",
  "ASPxRichEditStringId.LayoutOptions_DistanceFromText": "Distance from text",
  "ASPxRichEditStringId.LayoutOptions_Size": "Taille",
  "ASPxRichEditStringId.LayoutOptions_Absolute": "Absolue",
  "ASPxRichEditStringId.LayoutOptions_Relative": "Relative",
  "ASPxRichEditStringId.LayoutOptions_Rotate": "Faire pivoter",
  "ASPxRichEditStringId.LayoutOptions_Rotation": "Rotation",
  "ASPxRichEditStringId.LayoutOptions_Scale": "Échelle",
  "ASPxRichEditStringId.LayoutOptions_OriginalSize": "Taille d'origine",
  "ASPxRichEditStringId.FileManager_OpenedFileDeleteErrorText": "Le fichier ne peut pas être supprimé. Il est déjà ouvert par un autre utilisateur.",
  "ASPxRichEditStringId.FileManager_OpenedFileMoveErrorText": "Le fichier ne peut pas être déplacé. Il est déjà ouvert par un autre utilisateur.",
  "ASPxRichEditStringId.FileManager_OpenedFileRenameErrorText": "Le fichier ne peut pas être renommé. Il est déjà ouvert par un autre utilisateur.",
  "ASPxRichEditStringId.CreateDateField": "Date",
  "ASPxRichEditStringId.CreateDateFieldDescription": "Inserts the current date and time.",
  "ASPxRichEditStringId.CreateTimeField": "TIME",
  "ASPxRichEditStringId.CreateTimeFieldDescription": "Inserts the current time.",
  "ASPxRichEditStringId.CreatePageField": "PAGE",
  "ASPxRichEditStringId.CreatePageFieldDescription": "Insère le numéro de la page contenant le champ.",
  "ASPxRichEditStringId.CreatePageCountField": "NUMPAGES",
  "ASPxRichEditStringId.CreatePageCountFieldDescription": "Insère le nombre total de pages.",
  "ASPxRichEditStringId.CreateEmptyMergeField": "Champ de fusion",
  "ASPxRichEditStringId.CreateEmptyMergeFieldDescription": "Retrieves a value from the bound data source.",
  "ASPxRichEditStringId.CreateEmptyDocVariableField": "DOCVARIABLE",
  "ASPxRichEditStringId.CreateEmptyDocVariableFieldDescription": "Enables you to programmatically insert complex content when this field is updated.",
  "ASPxRichEditStringId.InsertMergeField_NoFields": "no fields",
  "ASPxRichEditStringId.Tabs_NoTabs": "no tabs",
  "ASPxRichEditStringId.Bookmarks_NoBookmarks": "No bookmarks",
  "ASPxRichEditStringId.MenuCmd_Font_settings": "Font settings",
  "ASPxRichEditStringId.MenuCmd_Align_Paragraph": "Align Paragraph",
  "ASPxRichEditStringId.MenuCmd_Align_ParagraphDropDownHeader": "Alignement",
  "ASPxRichEditStringId.MenuCmd_Clipboard": "Presse-papier"
}